# Project Motivation

The goal is to wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for "Wow!"-worthy analyses and visualizations.

In [178]:
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import time

## Gathering Data for the project

The twitter-archive-enhanced.csv file was provided. Here I am loading the file into a pandas dataframe.

In [179]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [180]:
twitter_archive.sample()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1593,686386521809772549,NaN,NaN,2016-01-11 03:17:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Crimson. He's a Speckled Winnebag...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/686386521...,11,10,Crimson,None,None,None,None

The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) is hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

In [181]:
prediction_file_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

In [182]:
response = requests.get(prediction_file_url)
with open('prediction_file.tsv', 'wb') as file:
    file.write(response.content)

In [183]:
image_predictions = pd.read_csv('prediction_file.tsv', sep='\t')

In [184]:
image_predictions.sample()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1571,794983741416415232,https://pbs.twimg.com/media/CvT6IV6WEAQhhV5.jpg,3,schipperke,0.363272,True,kelpie,0.197021,True,Norwegian_elkhound,0.151024,True

Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count. Note: do not include your Twitter API keys, secrets, and tokens in your project submission.

In [73]:
import tweepy
from settings import *
import json

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

Here I want to do the actual pull of tweets needed.

In [108]:
twitter_archive.sample()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
693,786963064373534720,NaN,NaN,2016-10-14 16:13:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Rory. He's got an interview in a few m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/786963064...,12,10,Rory,None,None,None,None

In [109]:
start = time.time()
exceptions = []
file_exception = False
for tweet_id in twitter_archive.tweet_id:    
    print(tweet_id)
    try:       
        tweet = api.get_status(tweet_id, tweet_mode='extended')
        with open('tweet_json.txt', 'a') as outfile:
            try:
                json.dump(tweet._json, outfile)
                outfile.write('\n')
            except:
                file_exception = True
                print('file exception')
    except:
        exceptions.append(tweet_id)
        print('tweet exception')
            
    end = time.time()
    print(end - start)

892420643555336193
0.31557202339172363
892177421306343426
0.5924980640411377
891815181378084864
0.8684940338134766
891689557279858688
1.1483218669891357
891327558926688256
1.4640731811523438
891087950875897856
1.7382149696350098
890971913173991426
2.046069860458374
890729181411237888
2.2992758750915527
890609185150312448
2.5914881229400635
890240255349198849
2.8725500106811523
890006608113172480
3.157594919204712
889880896479866881
3.487740993499756
889665388333682689
3.7787909507751465
889638837579907072
4.011507987976074
889531135344209921
4.29113507270813
889278841981685760
4.592304944992065
888917238123831296
4.886746883392334
888804989199671297
5.189771890640259
888554962724278272
5.465207815170288
888202515573088257
tweet exception
5.774913787841797
888078434458587136
6.054730176925659
887705289381826560
6.384222030639648
887517139158093824
6.685495853424072
887473957103951883
6.988052129745483
887343217045368832
7.2992119789123535
887101392804085760
7.584299802780151
886983233522544640
7.888321876525879
886736880519319552
8.176082134246826
886680336477933568
8.480921030044556
886366144734445568
8.772203922271729
886267009285017600
9.08746886253357
886258384151887873
9.359140872955322
886054160059072513
9.671665906906128
885984800019947520
10.000016927719116
885528943205470208
10.281013011932373
885518971528720385
10.52387809753418
885311592912609280
10.762630939483643
885167619883638784
11.012528896331787
884925521741709313
11.370346069335938
884876753390489601
11.719380140304565
884562892145688576
12.031843900680542
884441805382717440
12.325742959976196
884247878851493888
12.616722106933594
884162670584377345
12.908353805541992
883838122936631299
13.154389142990112
883482846933004288
13.420593023300171
883360690899218434
13.738080024719238
883117836046086144
13.951664924621582
882992080364220416
14.240020990371704
882762694511734784
14.534953117370605
882627270321602560
14.843825101852417
882268110199369728
15.063500881195068
882045870035918850
15.31826114654541
881906580714921986
15.57350492477417
881666595344535552
15.852466106414795
881633300179243008
16.120315074920654
881536004380872706
16.34168791770935
881268444196462592
16.664170026779175
880935762899988482
16.939579963684082
880872448815771648
17.220345973968506
880465832366813184
17.544744968414307
880221127280381952
17.823831796646118
880095782870896641
18.14888095855713
879862464715927552
18.40492606163025
879674319642796034
18.74255394935608
879492040517615616
19.076674938201904
879415818425184262
19.360470056533813
879376492567855104
19.645249843597412
879130579576475649
19.923481941223145
879050749262655488
20.139760971069336
879008229531029506
20.371626138687134
878776093423087618
20.64264678955078
878604707211726852
20.872710943222046
878404777348136964
21.175840854644775
878316110768087041
21.483126878738403
878281511006478336
21.780908823013306
878057613040115712
22.081670999526978
877736472329191424
22.39831781387329
877611172832227328
22.71397113800049
877556246731214848
23.022085905075073
877316821321428993
23.28176498413086
877201837425926144
23.64599108695984
876838120628539392
23.954859972000122
876537666061221889
24.223145008087158
876484053909872640
24.473488092422485
876120275196170240
24.764890909194946
875747767867523072
25.009248971939087
875144289856114688
25.327086925506592
875097192612077568
25.64235496520996
875021211251597312
25.924150943756104
874680097055178752
26.175458908081055
874434818259525634
26.48672080039978
874296783580663808
26.73798680305481
874057562936811520
27.007461071014404
874012996292530176
27.27548599243164
873697596434513921
tweet exception
27.527562141418457
873580283840344065
27.8021080493927
873337748698140672
28.060647010803223
873213775632977920
28.365319967269897
872967104147763200
28.622642040252686
872820683541237760
28.919295072555542
872668790621863937
tweet exception
29.17286491394043
872620804844003328
29.461010932922363
872486979161796608
29.73466205596924
872261713294495745
tweet exception
30.060203075408936
872122724285648897
30.408668994903564
871879754684805121
30.7024929523468
871762521631449091
31.104137182235718
871515927908634625
31.394032955169678
871166179821445120
31.760910987854004
871102520638267392
32.03646898269653
871032628920680449
32.38380718231201
870804317367881728
32.68143916130066
870726314365509632
32.978569984436035
870656317836468226
33.23745012283325
870374049280663552
33.50788688659668
870308999962521604
33.7352659702301
870063196459192321
34.006097078323364
869988702071779329
tweet exception
34.24052309989929
869772420881756160
34.48224711418152
869702957897576449
34.786571979522705
869596645499047938
35.09782409667969
869227993411051520
35.3829231262207
868880397819494401
35.7106499671936
868639477480148993
36.03693103790283
868622495443632128
36.30405378341675
868552278524837888
36.62322282791138
867900495410671616
36.932193994522095
867774946302451713
37.24200105667114
867421006826221569
37.55497884750366
867072653475098625
37.8115348815918
867051520902168576
38.08045816421509
866816280283807744
tweet exception
38.32420897483826
866720684873056260
38.605712890625
866686824827068416
38.86183214187622
866450705531457537
39.144229888916016
866334964761202691
39.392812967300415
866094527597207552
39.709147930145264
865718153858494464
39.91159796714783
865359393868664832
40.206713914871216
865006731092295680
40.48819398880005
864873206498414592
40.74163484573364
864279568663928832
41.19228410720825
864197398364647424
41.4746880531311
863907417377173506
41.74493408203125
863553081350529029
42.01708507537842
863471782782697472
42.29262089729309
863432100342583297
42.59616494178772
863427515083354112
42.897784948349
863079547188785154
43.25384211540222
863062471531167744
43.56813406944275
862831371563274240
43.864203214645386
862722525377298433
44.20295214653015
862457590147678208
44.50108599662781
862096992088072192
44.793002128601074
861769973181624320
tweet exception
45.061102867126465
861383897657036800
45.370949029922485
861288531465048066
45.6781120300293
861005113778896900
45.97639513015747
860981674716409858
46.28008985519409
860924035999428608
46.60476088523865
860563773140209665
46.91294598579407
860524505164394496
47.22361898422241
860276583193509888
47.43167304992676
860184849394610176
47.77906584739685
860177593139703809
48.044240951538086
859924526012018688
48.324825048446655
859851578198683649
48.62225389480591
859607811541651456
48.90432596206665
859196978902773760
49.2251091003418
859074603037188101
49.50119400024414
858860390427611136
49.774765968322754
858843525470990336
50.0370569229126
858471635011153920
50.38991713523865
858107933456039936
50.67197799682617
857989990357356544
50.99014687538147
857746408056729600
51.297609090805054
857393404942143489
51.56392788887024
857263160327368704
51.88161587715149
857214891891077121
52.10020112991333
857062103051644929
52.39882206916809
857029823797047296
52.67733097076416
856602993587888130
tweet exception
52.91017293930054
856543823941562368
53.27398681640625
856526610513747968
53.52380895614624
856330835276025856
53.773788928985596
856288084350160898
54.06298208236694
856282028240666624
54.40429496765137
855862651834028034
54.66434597969055
855860136149123072
54.96881914138794
855857698524602368
55.26491713523865
855851453814013952
55.54170107841492
855818117272018944
55.86729311943054
855459453768019968
56.14397597312927
855245323840757760
56.425256967544556
855138241867124737
56.71347904205322
854732716440526848
56.98955297470093
854482394044301312
57.243667125701904
854365224396361728
57.56824779510498
854120357044912130
57.813353061676025
854010172552949760
58.08431077003479
853760880890318849
58.33635115623474
853639147608842240
58.64640712738037
853299958564483072
58.929996967315674
852936405516943360
59.15598201751709
852912242202992640
59.391814947128296
852672615818899456
59.669716119766235
852553447878664193
59.95529890060425
852311364735569921
60.25284481048584
852226086759018497
60.52853012084961
852189679701164033
60.78572702407837
851953902622658560
tweet exception
61.045835971832275
851861385021730816
61.324747800827026
851591660324737024
61.60465121269226
851464819735769094
61.888543128967285
851224888060895234

62.20159697532654
850753642995093505
62.4446439743042
850380195714523136
62.74682402610779
850333567704068097
63.030510902404785
850145622816686080
63.34998893737793
850019790995546112
63.53744697570801
849776966551130114
63.85103917121887
849668094696017920
64.11123275756836
849412302885593088
64.4143009185791
849336543269576704
64.69470500946045
849051919805034497
64.96575999259949
848690551926992896
65.27987289428711
848324959059550208
65.55103302001953
848213670039564288
65.75364208221436
848212111729840128
65.99687695503235
847978865427394560
66.21858501434326
847971574464610304
66.50185298919678
847962785489326080
66.78799390792847
847842811428974592
67.08604001998901
847617282490613760
67.3666729927063
847606175596138505
67.62328696250916
847251039262605312
67.84549689292908
847157206088847362
68.13250494003296
847116187444137987
68.4376118183136
846874817362120707
68.74807691574097
846514051647705089
69.02957201004028
846505985330044928
69.54095816612244
846153765933735936
69.83556008338928
846139713627017216
70.10286402702332
846042936437604353
70.37034511566162
845812042753855489
70.6030809879303
845677943972139009
70.89652109146118
845459076796616705
tweet exception
71.19614815711975
845397057150107648
71.55347394943237
845306882940190720
71.85918807983398
845098359547420673
72.1169970035553
844979544864018432
72.31278610229492
844973813909606400
72.54546117782593
844704788403113984
tweet exception
72.80193400382996
844580511645339650
73.11870098114014
844223788422217728
73.39338994026184
843981021012017153
73.6643979549408
843856843873095681
73.96684288978577
843604394117681152
74.24489092826843
843235543001513987
74.4815719127655
842892208864923648
tweet exception
74.76509189605713
842846295480000512
75.02711415290833
842765311967449089
75.37294697761536
842535590457499648
75.59518504142761
842163532590374912
75.91187119483948
842115215311396866
76.23001098632812
841833993020538882
76.51556706428528
841680585030541313
76.78864097595215
841439858740625411
77.12378001213074
841320156043304961
77.42160391807556
841314665196081154
77.69777011871338
841077006473256960
77.98228216171265
840761248237133825
78.24990606307983
840728873075638272
78.53765201568604
840698636975636481
78.76581907272339
840696689258311684
79.099928855896
840632337062862849
79.4099988937378
840370681858686976
79.66636085510254
840268004936019968
79.9513418674469
839990271299457024
80.28195118904114
839549326359670784
80.72410106658936
839290600511926273
81.01457810401917
839239871831150596
81.28532004356384
838952994649550848
81.57996702194214
838921590096166913
81.84634399414062
838916489579200512
82.16473698616028
838831947270979586
82.45166611671448
838561493054533637
82.7168960571289
838476387338051585
83.02279901504517
838201503651401729
83.3299310207367
838150277551247360
83.61764097213745
838085839343206401
83.90181589126587
838083903487373313
84.18807578086853
837820167694528512
84.45873689651489
837482249356513284
84.78743577003479
837471256429613056
85.03664588928223
837366284874571778
tweet exception
85.30981683731079
837110210464448512
85.56039786338806
837012587749474308
tweet exception
85.77217483520508
836989968035819520
86.33501601219177
836753516572119041
86.691330909729
836677758902222849
87.01265382766724
836648853927522308
87.29611396789551
836397794269200385
87.5764570236206
836380477523124226
87.87701892852783
836260088725786625
88.10621500015259
836001077879255040
88.39477586746216
835685285446955009
88.64377999305725
835574547218894849
88.95969915390015
835536468978302976
89.31737518310547
835309094223372289
89.58668494224548
835297930240217089
89.81473898887634
835264098648616962
90.12494897842407
835246439529840640
90.4058620929718
835172783151792128
90.68245196342468
835152434251116546
91.02931594848633
834931633769889797
91.34874105453491
834786237630337024
91.63433194160461
834574053763584002
91.90808987617493
834477809192075265
92.24732303619385
834458053273591808
92.45229983329773
834209720923721728
92.99125218391418
834167344700198914
93.296315908432
834089966724603904
93.58976912498474
834086379323871233
93.79011702537537
833863086058651648
94.08964490890503
833826103416520705
94.37546610832214
833732339549220864
94.68932795524597
833722901757046785
94.88503885269165
833479644947025920
95.16673493385315
833124694597443584
95.45744180679321
832998151111966721
95.76226210594177
832769181346996225
96.05651116371155
832757312314028032
96.33309817314148
832682457690300417
96.64276099205017
832645525019123713
96.92203092575073
832636094638288896
97.2394289970398
832397543355072512
97.52423691749573
832369877331693569
97.83366107940674
832273440279240704
98.09146404266357
832215909146226688
98.40306997299194
832215726631055365
98.66482496261597
832088576586297345
99.03707981109619
832040443403784192
99.34350085258484
832032802820481025
99.6287682056427
831939777352105988
99.88347887992859
831926988323639298
100.15922999382019
831911600680497154
100.4139940738678
831670449226514432
100.73506999015808
831650051525054464
100.9815571308136
831552930092285952
101.29317378997803
831322785565769729
101.59495091438293
831315979191906304
101.78319096565247
831309418084069378
102.03463792800903
831262627380748289
102.27983498573303
830956169170665475
102.57786893844604
830583320585068544
102.84203290939331
830173239259324417
103.12249779701233
830097400375152640
103.34581685066223
829878982036299777
103.65571117401123
829861396166877184
103.95650219917297
829501995190984704
104.23168897628784
829449946868879360
104.49083209037781
829374341691346946
tweet exception
104.78183579444885
829141528400556032
105.04398083686829
829011960981237760
105.39585709571838
828801551087042563
105.89417695999146
828770345708580865
106.1727991104126
828708714936930305
106.39937996864319
828650029636317184
106.67824602127075
828409743546925057
106.99109196662903
828408677031882754
107.30119585990906
828381636999917570
107.54188704490662
828376505180889089
107.79844808578491
828372645993398273
108.04188799858093
828361771580813312
108.30531597137451
828046555563323392
108.57129883766174
828011680017821696
108.87749004364014
827933404142436356
109.12295413017273
827653905312006145
109.38721013069153
827600520311402496
109.65433192253113
827324948884643840
109.94909906387329
827228250799742977
tweet exception
110.25160193443298
827199976799354881
110.49595999717712
826958653328592898
110.78035497665405
826848821049180160
111.07978296279907
826615380357632002
111.36318612098694
826598799820865537
111.6355299949646
826598365270007810
111.83312392234802
826476773533745153
112.16082811355591
826240494070030336
112.41470408439636
826204788643753985
112.671226978302
826115272272650244
112.92388796806335
825876512159186944
113.31444907188416
825829644528148480
113.60380816459656
825535076884762624
113.90759801864624
825147591692263424
114.24301505088806
825120256414846976
114.52606987953186
825026590719483904
114.77297592163086
824796380199809024
115.05411219596863
824775126675836928
115.33972787857056
824663926340194305
115.72304797172546
824325613288833024
115.99952387809753
824297048279236611
116.34588503837585
824025158776213504
116.58370018005371
823939628516474880
116.77175402641296
823719002937630720
117.00079298019409
823699002998870016
117.27710294723511
823581115634085888
117.52093195915222
823333489516937216
117.83099293708801
823322678127919110
118.0233108997345
823269594223824897
118.33381199836731
822975315408461824
118.63792610168457
822872901745569793
118.94863200187683
822859134160621569
119.23112297058105
822647212903690241
119.53217506408691
822610361945911296
119.7609338760376
822489057087389700
120.03616094589233
822462944365645825
120.33466506004333
822244816520155136
120.52073788642883
822163064745328640
121.07245993614197
821886076407029760
121.32028889656067
821813639212650496
121.61232900619507
821765923262631936
121.85337519645691
821522889702862852
122.11038494110107
821421320206483457
122.36998701095581
821407182352777218
122.61887693405151
821153421864615936
122.8979959487915
821149554670182400
123.14249515533447
821107785811234820
123.36973285675049
821044531881721856
123.61640882492065
820837357901512704
123.95697689056396
820749716845686786

124.28382706642151
820690176645140481
124.59144616127014
820494788566847489
124.92288899421692
820446719150292993
125.24314403533936
820314633777061888
125.55517196655273
820078625395449857
125.81845498085022
820013781606658049
126.10305905342102
819952236453363712
126.35127091407776
819924195358416896
126.64446306228638
819711362133872643
126.9298038482666
819588359383371776
127.21690392494202
819347104292290561
127.53534507751465
819238181065359361
127.74358010292053
819227688460238848
128.02051997184753
819015337530290176
128.32891821861267
819015331746349057
128.6124382019043
819006400881917954
128.87598299980164
819004803107983360
129.13848686218262
818646164899774465
129.57409000396729
818627210458333184
129.893394947052
818614493328580609
130.20068788528442
818588835076603904
130.53543996810913
818536468981415936
130.7474389076233
818307523543449600
131.32066702842712
818259473185828864
131.6308901309967
818145370475810820
131.88197493553162
817908911860748288
132.13879108428955
817827839487737858
132.42054200172424
817777686764523521
132.70690298080444
817536400337801217
132.95932507514954
817502432452313088
133.22215580940247
817423860136083457
133.5095021724701
817415592588222464
133.72583889961243
817181837579653120
133.98931097984314
817171292965273600
134.30547285079956
817120970343411712
134.5528039932251
817056546584727552
134.79986000061035
816829038950027264
135.12156105041504
816816676327063552
135.36710906028748
816697700272001025
135.6438820362091
816450570814898180
135.8784339427948
816336735214911488
136.16962909698486
816091915477250048
136.45842504501343
816062466425819140
136.69041395187378
816014286006976512
136.98413705825806
815990720817401858
137.28508496284485
815966073409433600
137.6757960319519
815745968457060357
138.1966118812561
815736392542261248
138.57675504684448
815639385530101762
139.20009899139404
815390420867969024
139.70486783981323
814986499976527872
140.5022611618042
814638523311648768
141.0352339744568
814578408554463233
141.28888583183289
814530161257443328
141.5673360824585
814153002265309185
141.85164594650269
813944609378369540
142.14539408683777
813910438903693312
142.4418981075287
813812741911748608
142.73106789588928
813800681631023104
143.05833506584167
813217897535406080
143.36343502998352
813202720496779264
143.72092294692993
813187593374461952
144.02788496017456
813172488309972993
144.34378004074097
813157409116065792
144.62103009223938
813142292504645637
144.82278895378113
813130366689148928
145.13036513328552
813127251579564032
145.40759587287903
813112105746448384
145.65651202201843
813096984823349248
145.93682289123535
813081950185472002
146.25486707687378
813066809284972545
146.57105708122253
813051746834595840
146.8219599723816
812781120811126785
147.07286477088928
812747805718642688
tweet exception
147.3532099723816
812709060537683968
147.6439709663391
812503143955202048
147.90215682983398
812466873996607488
148.22151589393616
812372279581671427
148.4989800453186
811985624773361665
148.74516201019287
811744202451197953
149.02760004997253
811647686436880384
149.22018384933472
811627233043480576
149.6133542060852
811386762094317568
149.95359706878662
810984652412424192
150.20976400375366
810896069567610880
150.4875090122223
810657578271330305
150.78954005241394
810284430598270976
151.0756220817566
810254108431155201
151.3441550731659
809920764300447744
151.5972330570221
809808892968534016
151.7990071773529
809448704142938112
152.05076789855957
809220051211603969
152.33232402801514
809084759137812480
152.62933588027954
808838249661788160
152.988196849823
808733504066486276
153.27372193336487
808501579447930884
153.49988889694214
808344865868283904
153.72898602485657
808134635716833280
154.01534295082092
808106460588765185
154.2943251132965
808001312164028416
154.58764505386353
807621403335917568
154.8323438167572
807106840509214720
155.10332798957825
807059379405148160
155.3639039993286
807010152071229440
155.6186761856079
806629075125202948
155.90392208099365
806620845233815552
156.17381596565247
806576416489959424
156.4328968524933
806542213899489280
156.650860786438
806242860592926720
156.93480801582336
806219024703037440
157.21125197410583
805958939288408065
157.51862215995789
805932879469572096
157.82642912864685
805826884734976000
158.1087520122528
805823200554876929
158.40107989311218
805520635690676224
158.71339988708496
805487436403003392
159.02869319915771
805207613751304193
159.29633402824402
804738756058218496
159.57558298110962
804475857670639616
159.85828399658203
804413760345620481
160.22622394561768
804026241225523202
160.50085592269897
803773340896923648
160.9862620830536
803692223237865472
161.23813891410828
803638050916102144
161.4834840297699
803380650405482500
161.8023579120636
803321560782307329
162.08789682388306
803276597545603072
162.37467503547668
802952499103731712
162.5592541694641
802624713319034886
162.8779489994049
802600418706604034
163.15209698677063
802572683846291456
163.40115904808044
802323869084381190
163.6866729259491
802265048156610565
163.99164390563965
802247111496568832
tweet exception
164.2249801158905
802239329049477120
164.50729608535767
802185808107208704
164.81121182441711
801958328846974976
165.18467378616333
801854953262350336
165.50004482269287
801538201127157760
165.80675220489502
801285448605831168
166.1022560596466
801167903437357056
166.38340497016907
801127390143516673
166.64384198188782
801115127852503040
166.9589819908142
800859414831898624
167.2857518196106
800855607700029440
167.51530599594116
800751577355128832
167.83778285980225
800513324630806528
168.11614298820496
800459316964663297
168.3530888557434
800443802682937345
168.65901398658752
800388270626521089
168.9667890071869
800188575492947969
169.51436400413513
800141422401830912
169.77594900131226
800018252395122689
170.0524709224701
799774291445383169
170.37040901184082
799757965289017345
170.645281791687
799422933579902976
170.9375340938568
799308762079035393
171.2236659526825
799297110730567681
171.57765889167786
799063482566066176
171.8728859424591
798933969379225600
172.1537628173828
798925684722855936
172.43771886825562
798705661114773508
172.86420106887817
798701998996647937
173.1627848148346
798697898615730177
173.4452428817749
798694562394996736
173.69370985031128
798686750113755136
174.0277988910675
798682547630837760
174.29739713668823
798673117451325440
174.59469509124756
798665375516884993
174.85868406295776
798644042770751489
175.0730540752411
798628517273620480
175.34219193458557
798585098161549313
175.61765384674072
798576900688019456
175.90090799331665
798340744599797760
176.12627601623535
798209839306514432
176.38438200950623
797971864723324932
176.66343903541565
797545162159308800
176.93937301635742
797236660651966464
177.19240403175354
797165961484890113
177.50023317337036
796904159865868288
177.79134917259216
796865951799083009
178.09373307228088
796759840936919040
178.28594708442688
796563435802726400
178.48276209831238
796484825502875648
178.78499484062195
796387464403357696
179.03539204597473
796177847564038144
179.36864495277405
796149749086875649
179.67809796333313
796125600683540480
180.02224397659302
796116448414461957
180.32370400428772
796080075804475393
180.58842301368713
796031486298386433
180.78274297714233
795464331001561088
181.0762641429901
795400264262053889
181.3894820213318
795076730285391872
181.63724875450134
794983741416415232
181.91785407066345
794926597468000259
182.21300387382507
794355576146903043
182.54121685028076
794332329137291264
182.8459930419922
794205286408003585
183.12170505523682
793962221541933056
183.36306810379028
793845145112371200
183.61330699920654
793614319594401792
183.86209106445312
793601777308463104
184.17631816864014
793500921481273345
184.38950490951538
793286476301799424
184.69281792640686
793271401113350145
185.0116581916809
793256262322548741
185.3142499923706
793241302385262592
185.62954187393188
793226087023144960
185.9327290058136
793210959003287553
186.128751039505
793195938047070209
186.41664505004883
793180763617361921
186.736958026886
793165685325201412
186.98637914657593
793150605191548928
187.2713749408722
793135492858580992
187.57953810691833
793120401413079041
187.7995080947876
792913359805018113

188.054692029953
792883833364439040
188.37086296081543
792773781206999040
188.6968491077423
792394556390137856
188.9511570930481
792050063153438720
189.27162718772888
791821351946420224
189.49312710762024
791784077045166082
189.75280690193176
791780927877898241
190.0315659046173
791774931465953280
190.36291217803955
791672322847637504
190.6537230014801
791406955684368384
190.9396481513977
791312159183634433
191.2185618877411
791026214425268224
191.5279049873352
790987426131050500
191.7601659297943
790946055508652032
192.04037380218506
790723298204217344
192.52666306495667
790698755171364864
192.84184575080872
790581949425475584
193.07575798034668
790337589677002753
193.32762002944946
790277117346975746
193.5762050151825
790227638568808452
193.8639199733734
789986466051088384
194.11373496055603
789960241177853952
194.39247393608093
789903600034189313
194.67873692512512
789628658055020548
194.93086099624634
789599242079838210
195.2257959842682
789530877013393408
195.48403787612915
789314372632018944
195.76856088638306
789280767834746880
196.07045197486877
789268448748703744
196.38080286979675
789137962068021249
196.58336281776428
788908386943430656
196.84450006484985
788765914992902144
197.10041689872742
788552643979468800
197.39301705360413
788412144018661376
197.66378498077393
788178268662984705
197.94428896903992
788150585577050112
198.22284507751465
788070120937619456
198.48077297210693
788039637453406209
198.78381991386414
787810552592695296
198.98260807991028
787717603741622272
199.31818985939026
787397959788929025
199.59314107894897
787322443945877504
199.851989030838
787111942498508800
200.17309999465942
786963064373534720
200.4279818534851
786729988674449408
200.66573905944824
786709082849828864
200.92465901374817
786664955043049472
201.20345783233643
786595970293370880
201.5148298740387
786363235746385920
201.78898906707764
786286427768250368
201.98138093948364
786233965241827333
202.28910493850708
786051337297522688
202.59396386146545
786036967502913536
202.82361793518066
785927819176054784
203.1065549850464
785872687017132033
203.41950798034668
785639753186217984
203.67832899093628
785533386513321988
203.9608850479126
785515384317313025
204.26625108718872
785264754247995392
204.5743989944458
785170936622350336
204.7605390548706
784826020293709826
205.07454800605774
784517518371221505
205.29920196533203
784431430411685888
205.58388996124268
784183165795655680
205.89348316192627
784057939640352768
206.11216187477112
783839966405230592
206.356379032135
783821107061198850
206.57133388519287
783695101801398276
206.84673285484314
783466772167098368
207.07201290130615
783391753726550016
207.30160903930664
783347506784731136
207.553973197937
783334639985389568
207.77116513252258
783085703974514689
208.05078101158142
782969140009107456
208.34141612052917
782747134529531904
208.62736701965332
782722598790725632
208.87114715576172
782598640137187329
209.1424868106842
782305867769217024
209.43001985549927
782021823840026624
209.70642113685608
781955203444699136
210.0235559940338
781661882474196992
210.31253910064697
781655249211752448
210.52130484580994
781524693396357120
210.756933927536
781308096455073793
211.0331540107727
781251288990355457
211.31942105293274
781163403222056960
211.53471398353577
780931614150983680
211.73277711868286
780858289093574656
212.03702688217163
780800785462489090
212.31888008117676
780601303617732608
212.59604215621948
780543529827336192
212.89568400382996
780496263422808064
213.16755890846252
780476555013349377
213.48153686523438
780459368902959104
213.74487209320068
780192070812196864
213.9898121356964
780092040432480260
214.283873796463
780074436359819264
214.54880094528198
779834332596887552
214.80084204673767
779377524342161408
215.0856328010559
779124354206535695
215.3457009792328
779123168116150273
tweet exception
215.6159770488739
779056095788752897
215.89616799354553
778990705243029504
216.18326902389526
778774459159379968
216.49972009658813
778764940568104960
216.72516202926636
778748913645780993
217.03847885131836
778650543019483137
217.3293421268463
778624900596654080
217.5552270412445
778408200802557953
217.84272813796997
778396591732486144
218.12353587150574
778383385161035776
218.40251898765564
778286810187399168
218.70440697669983
778039087836069888
218.98513197898865
778027034220126208
219.29416608810425
777953400541634568
219.5576069355011
777885040357281792
219.79079699516296
777684233540206592
220.10090517997742
777641927919427584
220.39039492607117
777621514455814149
220.70462489128113
777189768882946048
220.91994881629944
776819012571455488
221.24055886268616
776813020089548800
221.4676239490509
776477788987613185
221.77565503120422
776249906839351296
222.09033107757568
776218204058357768
222.36399388313293
776201521193218049
222.68187999725342
776113305656188928
222.93257784843445
776088319444877312
223.13408398628235
775898661951791106
223.44429802894592
775842724423557120
223.71841192245483
775733305207554048
224.01149797439575
775729183532220416
224.30403804779053
775364825476165632
224.57985591888428
775350846108426240
224.88369178771973
775096608509886464
tweet exception
225.08944010734558
775085132600442880
225.36343693733215
774757898236878852
225.63868403434753
774639387460112384
225.92297887802124
774314403806253056
226.24140810966492
773985732834758656
226.53823804855347
773922284943896577
226.7700481414795
773704687002451968
226.98378992080688
773670353721753600
227.24367499351501
773547596996571136
227.5209128856659
773336787167145985
227.83201694488525
773308824254029826
228.10819292068481
773247561583001600
228.35664796829224
773191612633579521
228.6388590335846
772877495989305348
228.95181393623352
772826264096874500
229.1711049079895
772615324260794368
229.3933129310608
772581559778025472
229.67214608192444
772193107915964416
229.98548316955566
772152991789019136
230.26995992660522
772117678702071809
230.54900312423706
772114945936949249
230.8258180618286
772102971039580160
231.13733196258545
771908950375665664
231.4021520614624
771770456517009408
231.7365689277649
771500966810099713
231.95911192893982
771380798096281600
232.1853368282318
771171053431250945
232.46097707748413
771136648247640064
232.8003830909729
771102124360998913
233.12484002113342
771014301343748096
233.42529392242432
771004394259247104
tweet exception
233.7405641078949
770787852854652928
234.02921795845032
770772759874076672
234.31957602500916
770743923962707968
tweet exception
234.5908341407776
770655142660169732
234.81783509254456
770414278348247044
235.05848097801208
770293558247038976
235.36413288116455
770093767776997377
235.67342805862427
770069151037685760
235.95924377441406
769940425801170949
236.19691610336304
769695466921623552
236.50509095191956
769335591808995329
236.78357791900635
769212283578875904
237.04016494750977
768970937022709760
237.42055296897888
768909767477751808
237.67940378189087
768855141948723200
238.00397992134094
768609597686943744
238.28008198738098
768596291618299904
238.61062002182007
768554158521745409
238.91251492500305
768473857036525572
239.1829879283905
768193404517830656
239.45732307434082
767884188863397888
239.74027609825134
767754930266464257
240.05950284004211
767500508068192258
240.28833198547363
767191397493538821
240.60868215560913
767122157629476866
240.88853216171265
766864461642756096
241.09074997901917
766793450729734144
241.2846019268036
766714921925144576
241.53678607940674
766693177336135680
241.81185293197632
766423258543644672
242.09095907211304
766313316352462849
242.35730290412903
766078092750233600
242.61260199546814
766069199026450432
242.89321517944336
766008592277377025
243.1065309047699
765719909049503744
243.41800999641418
765669560888528897
243.72226691246033
765395769549590528
244.01271200180054
765371061932261376
244.27441811561584
765222098633691136
244.8516309261322
764857477905154048
245.1344599723816
764259802650378240
245.3523690700531
763956972077010945
245.67117190361023
763837565564780549
245.87112998962402
763183847194451968
246.16438698768616
763167063695355904
246.45037984848022
763103485927849985
246.776221036911
762699858130116608
246.9872751235962
762471784394268675
247.1907548904419
762464539388485633
247.46534204483032
762316489655476224

247.69511008262634
762035686371364864
247.95620799064636
761976711479193600
248.20180320739746
761750502866649088
248.46015095710754
761745352076779520
248.8524408340454
761672994376806400
249.1541211605072
761599872357261312
249.43290901184082
761371037149827077
249.75371718406677
761334018830917632
250.02133107185364
761292947749015552
250.27640104293823
761227390836215808
250.5575089454651
761004547850530816
250.85080790519714
760893934457552897
251.04380202293396
760656994973933572
251.33244800567627
760641137271070720
251.64177107810974
760539183865880579
251.95176696777344
760521673607086080
252.22077298164368
760290219849637889
252.47635221481323
760252756032651264
252.74562907218933
760190180481531904
253.0263431072235
760153949710192640
253.32738399505615
759943073749200896
253.5428659915924
759923798737051648
253.85739302635193
759846353224826880
254.15329003334045
759793422261743616
254.44201612472534
759566828574212096
tweet exception
254.67829298973083
759557299618865152
254.95670890808105
759447681597108224
255.17666292190552
759446261539934208
255.49732112884521
759197388317847553
255.78159093856812
759159934323924993
256.0389211177826
759099523532779520
256.35723090171814
759047813560868866
256.63296389579773
758854675097526272
256.88841795921326
758828659922702336
257.0835340023041
758740312047005698

Rate limit reached. Sleeping for: 643

905.4044950008392
758474966123810816
905.6574170589447
758467244762497024
905.8892800807953
758405701903519748
906.1672620773315
758355060040593408
906.4740130901337
758099635764359168
906.7326710224152
758041019896193024
907.0515470504761
757741869644341248
907.3263959884644
757729163776290825
907.6234540939331
757725642876129280
907.9422309398651
757611664640446465
908.2256557941437
757597904299253760
908.510223865509
757596066325864448
908.8112411499023
757400162377592832
909.0775971412659
757393109802180609
909.3674550056458
757354760399941633
909.6373851299286
756998049151549440
909.9521241188049
756939218950160384
910.224898815155
756651752796094464
910.5558240413666
756526248105566208
910.8902180194855
756303284449767430
911.1978509426117
756288534030475264
911.5175929069519
756275833623502848
911.7782139778137
755955933503782912
912.0815460681915
755206590534418437
912.3937590122223
755110668769038337
912.7065298557281
754874841593970688
913.0109169483185
754856583969079297
913.3327188491821
754747087846248448
913.5928211212158
754482103782404096
913.8822360038757
754449512966619136
914.1635239124298
754120377874386944
914.4886629581451
754011816964026368
tweet exception
914.7704920768738
753655901052166144
915.0652098655701
753420520834629632
915.356675863266
753398408988139520
915.6626629829407
753375668877008896
915.9745070934296
753298634498793472
916.2847299575806
753294487569522689
916.6001980304718
753039830821511168
916.918534040451
753026973505581056
917.2152218818665
752932432744185856
917.487154006958
752917284578922496
917.7689299583435
752701944171524096
918.0912659168243
752682090207055872
918.3782160282135
752660715232722944
918.6638150215149
752568224206688256
918.9662749767303
752519690950500352
919.2529098987579
752334515931054080
919.5699739456177
752309394570878976
919.8852608203888
752173152931807232
920.2036330699921
751950017322246144
920.4871230125427
751937170840121344
920.8004450798035
751830394383790080
921.1010389328003
751793661361422336
921.4239299297333
751598357617971201
921.7372620105743
751583847268179968
922.0201461315155
751538714308972544
922.3408489227295
751456908746354688
922.663092136383
751251247299190784
922.9421520233154
751205363882532864
923.262925863266
751132876104687617
923.5493459701538
750868782890057730
923.8455629348755
750719632563142656
924.1677401065826
750506206503038976
924.471757888794
750429297815552001
924.7278728485107
750383411068534784
924.9587149620056
750381685133418496
925.2387180328369
750147208377409536
925.5617139339447
750132105863102464
925.8838469982147
750117059602808832
926.1987149715424
750101899009982464
926.5150408744812
750086836815486976
926.8421640396118
750071704093859840
927.166051864624
750056684286914561
927.4659049510956
750041628174217216
927.7525510787964
750026558547456000
928.0618598461151
750011400160841729
928.3416788578033
749996283729883136
928.7383739948273
749981277374128128
929.0434467792511
749774190421639168
929.3097770214081
749417653287129088
929.6914160251617
749403093750648834
930.0076670646667
749395845976588288
930.3343298435211
749317047558017024
930.6341559886932
749075273010798592
930.9538600444794
749064354620928000
931.2355990409851
749036806121881602
931.557776927948
748977405889503236
931.8761789798737
748932637671223296
932.1829090118408
748705597323898880
932.4380939006805
748699167502000129
932.7619791030884
748692773788876800
933.0464820861816
748575535303884801
933.3530120849609
748568946752774144
933.6606180667877
748346686624440324
933.972470998764
748337862848962560
934.2697160243988
748324050481647620
934.5871329307556
748307329658011649
934.8952670097351
748220828303695873
935.1710999011993
747963614829678593
935.4893519878387
747933425676525569
935.8152301311493
747885874273214464
936.0617070198059
747844099428986880
936.3739609718323
747816857231626240
936.6687939167023
747651430853525504
936.9683020114899
747648653817413632
937.2302539348602
747600769478692864
937.5149579048157
747594051852075008
937.8326869010925
747512671126323200
938.1277370452881
747461612269887489
938.4374260902405
747439450712596480
938.7216238975525
747242308580548608
938.9458839893341
747219827526344708
939.2338168621063
747204161125646336
939.5247559547424
747103485104099331
939.8058898448944
746906459439529985
940.1026341915131
746872823977771008
940.418869972229
746818907684614144
940.6810388565063
746790600704425984
940.9745099544525
746757706116112384
941.265380859375
746726898085036033
941.6622459888458
746542875601690625
941.9594779014587
746521445350707200
942.2429258823395
746507379341139972
942.5130090713501
746369468511756288
942.855085849762
746131877086527488
943.1536610126495
746056683365994496
943.4179420471191
745789745784041472
943.6953089237213
745712589599014916
944.0148241519928
745433870967832576
944.3060050010681
745422732645535745
944.6472520828247
745314880350101504
944.9435379505157
745074613265149952
945.2759730815887
745057283344719872
945.5660698413849
744995568523612160
945.8099739551544
744971049620602880
946.1090340614319
744709971296780288
946.3973128795624
744334592493166593
946.6858201026917
744234799360020481
947.0062670707703
744223424764059648
947.2998621463776
743980027717509120
947.5827820301056
743895849529389061
947.8625819683075
743835915802583040
948.1822171211243
743609206067040256
948.4273669719696
743595368194129920
948.696142911911
743545585370791937
949.0255970954895
743510151680958465
949.3202781677246
743253157753532416
949.6074137687683
743222593470234624
949.8904349803925
743210557239623680
950.209942817688
742534281772302336
950.5238580703735
742528092657332225
950.8071949481964
742465774154047488
951.100732088089
742423170473463808
951.3457159996033
742385895052087300
951.6403579711914
742161199639494656
951.9414820671082
742150209887731712
952.2505638599396
741793263812808706
952.5701839923859
741743634094141440
952.8260860443115
741438259667034112
953.1356019973755
741303864243200000
953.4182660579681
741099773336379392
953.7324690818787
741067306818797568
954.0399031639099
740995100998766593
954.3553249835968
740711788199743490
954.6381289958954
740699697422163968
954.9100549221039
740676976021798912
955.2194068431854
740373189193256964
955.5167469978333
740365076218183684
955.8031389713287
740359016048689152
956.1182010173798
740214038584557568
956.4035291671753
739979191639244800
956.6845269203186
739932936087216128
956.9741599559784
739844404073074688
957.2539830207825
739623569819336705
957.548455953598
739606147276148736
957.8681428432465
739544079319588864
958.1248071193695
739485634323156992
958.3759589195251
739238157791694849
958.702800989151
738891149612572673
959.0332169532776
738885046782832640
959.3580069541931
738883359779196928
959.6703670024872
738537504001953792
959.9507758617401
738402415918125056
960.2488799095154
738184450748633089
960.5411958694458
738166403467907072
960.8286349773407
738156290900254721
961.1076271533966
737826014890496000
961.4138350486755
737800304142471168
961.7319178581238
737678689543020544
962.0360169410706
737445876994609152
962.3305969238281
737322739594330112
962.6250898838043
737310737551491075
962.8914458751678
736736130620620800
963.2017929553986
736392552031657984
963.4848709106445
736365877722001409
963.8146259784698
736225175608430592
964.1363639831543
736010884653420544
964.4567940235138
735991953473572864
964.7265729904175
735648611367784448
965.0054309368134
735635087207878657
965.4022858142853
735274964362878976
965.6869909763336
735256018284875776
966.0088858604431
735137028879360001
966.2925689220428
734912297295085568
966.556725025177
734787690684657664
966.877053976059
734776360183431168
967.1781888008118
734559631394082816
967.485445022583
733828123016450049
967.7894639968872
733822306246479872
968.0744910240173
733482008106668032
968.4155859947205
733460102733135873
968.7212381362915
733109485275860992
969.0542280673981
732732193018155009
969.3829231262207
732726085725589504
969.6857619285583
732585889486888962
970.0102639198303
732375214819057664
970.3084890842438
732005617171337216
970.6336860656738
731285275100512256
970.8644289970398
731156023742988288
971.1381552219391
730924654643314689
971.4650650024414
730573383004487680

971.7758989334106
730427201120833536
972.0827419757843
730211855403241472
972.3747429847717
730196704625098752
972.6754159927368
729854734790754305
972.9723291397095
729838605770891264
973.2777299880981
729823566028484608
973.5452959537506
729463711119904772
973.874694108963
729113531270991872
974.1571290493011
728986383096946689
974.4497530460358
728760639972315136
974.7595250606537
728751179681943552
975.0552868843079
728653952833728512
975.3131458759308
728409960103686147
975.6072039604187
728387165835677696
975.9941120147705
728046963732717569
976.2806088924408
728035342121635841
976.5976119041443
728015554473250816
976.8595979213715
727685679342333952
977.1922190189362
727644517743104000
977.4861788749695
727524757080539137
977.8092761039734
727314416056803329
978.1196839809418
727286334147182592
978.3979358673096
727175381690781696
978.7125089168549
727155742655025152
979.0158548355103
726935089318363137
979.3056311607361
726887082820554753
979.5881681442261
726828223124897792
979.9096081256866
726224900189511680
980.1993660926819
725842289046749185
980.523962020874
725786712245440512
980.8053588867188
725729321944506368
981.163810968399
725458796924002305
981.4812779426575
724983749226668032
981.7770230770111
724771698126512129
982.0918810367584
724405726123311104
982.3835310935974
724049859469295616
982.6843638420105
724046343203856385
982.9958460330963
724004602748780546
983.3123259544373
723912936180330496
983.6095609664917
723688335806480385
983.9363980293274
723673163800948736
984.2240221500397
723179728551723008
984.5446240901947
722974582966214656
984.8480668067932
722613351520608256
985.0973320007324
721503162398597120
985.4142329692841
721001180231503872
985.6959419250488
720785406564900865
985.9807670116425
720775346191278080
986.2734830379486
720415127506415616
986.560418844223
720389942216527872
986.8876361846924
720340705894408192
987.1802220344543
720059472081784833
987.5110249519348
720043174954147842
987.7912831306458
719991154352222208
988.1039710044861
719704490224398336
988.386843919754
719551379208073216
988.6851830482483
719367763014393856
988.9877359867096
719339463458033665
989.2964560985565
719332531645071360
989.5744841098785
718971898235854848
989.8972370624542
718939241951195136
990.1820719242096
718631497683582976
990.4607179164886
718613305783398402
990.7590639591217
718540630683709445
991.037358045578
718460005985447936
991.3636078834534
718454725339934721
991.6450889110565
718246886998687744
991.9555099010468
718234618122661888
992.3386149406433
717841801130979328
992.6491301059723
717790033953034240
992.9432489871979
717537687239008257
993.2274677753448
717428917016076293
993.5478041172028
717421804990701568
993.8464300632477
717047459982213120
994.1421070098877
717009362452090881
994.4227521419525
716802964044845056
994.7198300361633
716791146589110272
995.0117468833923
716730379797970944
995.3991930484772
716447146686459905
995.7093658447266
716439118184652801
996.0116319656372
716285507865542656
996.3326539993286
716080869887381504
996.6137089729309
715928423106027520
996.9310910701752
715758151270801409
997.2282240390778
715733265223708672
997.5735368728638
715704790270025728
997.8776710033417
715696743237730304
998.171236038208
715680795826982913
998.4790859222412
715360349751484417
998.7924890518188
715342466308784130
999.0977470874786
715220193576927233
999.4021258354187
715200624753819648
999.7173128128052
715009755312439296
1000.0207650661469
714982300363173890
1000.2822880744934
714962719905021952
1000.5751769542694
714957620017307648
1000.870728969574
714631576617938945
1001.1875638961792
714606013974974464
1001.4904139041901
714485234495041536
1001.7951519489288
714258258790387713
1002.0934970378876
714251586676113411
1002.3164050579071
714214115368108032
1002.6195118427277
714141408463036416
1002.8947842121124
713919462244790272
1003.1715149879456
713909862279876608
1003.4718811511993
713900603437621249
1003.7469668388367
713761197720473600
1004.0708179473877
713411074226274305
1004.3894720077515
713177543487135744
1004.6468970775604
713175907180089344
1004.8972630500793
712809025985978368
1005.2079589366913
712717840512598017
1005.5248248577118
712668654853337088
1005.8257088661194
712438159032893441
1006.0751399993896
712309440758808576
1006.3514220714569
712097430750289920
1006.6246209144592
712092745624633345
1006.8703620433807
712085617388212225
1007.1838738918304
712065007010385924
1007.4725778102875
711998809858043904
1007.7997720241547
711968124745228288
1008.1166219711304
711743778164514816
1008.4256699085236
711732680602345472
1008.7153208255768
711694788429553666
1009.0118749141693
711652651650457602
1009.2802159786224
711363825979756544
1009.5781981945038
711306686208872448
1009.8532869815826
711008018775851008
1010.1451380252838
710997087345876993
1010.4652178287506
710844581445812225
1010.7136960029602
710833117892898816
1011.0345571041107
710658690886586372
1011.3504409790039
710609963652087808
1011.6079390048981
710588934686908417
1011.9264430999756
710296729921429505
1012.2227129936218
710283270106132480
1012.547590970993
710272297844797440
1012.8665759563446
710269109699739648
1013.2582061290741
710153181850935296
1013.568794965744
710140971284037632
1013.8698630332947
710117014656950272
1014.1957960128784
709918798883774466
1014.5043439865112
709901256215666688
1014.7724750041962
709852847387627521
1015.0919530391693
709566166965075968
1015.4186131954193
709556954897764353
1015.6820938587189
709519240576036864
1016.0012168884277
709449600415961088
1016.3276779651642
709409458133323776
1016.6633050441742
709225125749587968
1016.9463150501251
709207347839836162
1017.2954468727112
709198395643068416
1017.5748481750488
709179584944730112
1017.8717148303986
709158332880297985
1018.1733138561249
709042156699303936
1018.4971029758453
708853462201716736
1018.812826871872
708845821941387268
1019.1126821041107
708834316713893888
1019.407840013504
708810915978854401
1019.7308828830719
708738143638450176
1020.0135560035706
708711088997666817
1020.3486931324005
708479650088034305
1020.6440541744232
708469915515297792
1020.9574401378632
708400866336894977
1021.2516729831696
708356463048204288
1021.5801498889923
708349470027751425
1021.8858771324158
708149363256774660
1022.1966879367828
708130923141795840
1022.5047478675842
708119489313951744
1022.8189468383789
708109389455101952
1023.1242220401764
708026248782585858
1023.4523439407349
707995814724026368
1023.7595238685608
707983188426153984
1024.0803968906403
707969809498152960
1024.371796131134
707776935007539200
1024.6821730136871
707741517457260545
1024.9844808578491
707738799544082433
1025.2654087543488
707693576495472641
1025.581899881363
707629649552134146
1025.8852260112762
707610948723478529
1026.2061159610748
707420581654872064
1026.5815019607544
707411934438625280
1026.8970441818237
707387676719185920
1027.1728920936584
707377100785885184
1027.4863471984863
707315916783140866
1027.7645299434662
707297311098011648
1027.9928328990936
707059547140169728
1028.27773976326
707038192327901184
1028.579614162445
707021089608753152
1028.8813610076904
707014260413456384
1029.1807398796082
706904523814649856
1029.4627668857574
706901761596989440
1029.7709550857544
706681918348251136
1030.0821769237518
706644897839910912
1030.3492419719696
706593038911545345
1030.6633718013763
706538006853918722
1030.941869020462
706516534877929472
1031.2530679702759
706346369204748288
1031.5671110153198
706310011488698368
1031.8699281215668
706291001778950144
1032.1802179813385
706265994973601792
1032.4697160720825
706169069255446529
1032.7911231517792
706166467411222528
1033.1047320365906
706153300320784384
1033.4306509494781
705975130514706432
1033.7011160850525
705970349788291072
1033.9369089603424
705898680587526145
1034.2529089450836
705786532653883392
1034.6370480060577
705591895322394625
1034.9495100975037
705475953783398401
1035.3157269954681
705442520700944385
1035.6209099292755
705428427625635840
1035.9325399398804
705239209544720384
1036.2708160877228
705223444686888960
1036.5697329044342
705102439679201280
1036.8834290504456
705066031337840642
1037.1846759319305
704871453724954624
1037.5021860599518
704859558691414016
1037.7840049266815
704847917308362754

1038.0569188594818
704819833553219584
1038.3694829940796
704761120771465216
1038.670156955719
704499785726889984
1038.9866189956665
704491224099647488
1039.2786178588867
704480331685040129
1039.5830428600311
704364645503647744
1040.2344479560852
704347321748819968
1040.5139830112457
704134088924532736
1041.0155329704285
704113298707505153
1041.6469810009003
704054845121142784
1042.4503378868103
703774238772166656
1043.122724056244
703769065844768768
1043.4134821891785
703631701117943808
1043.7421278953552
703611486317502464
1044.053633928299
703425003149250560
1044.3970201015472
703407252292673536
1044.7055168151855
703382836347330562
1044.985962152481
703356393781329922
1045.2923102378845
703268521220972544
1045.5850939750671
703079050210877440
1045.8872349262238
703041949650034688
1046.1618430614471
702932127499816960
1046.4607818126678
702899151802126337
1046.7579500675201
702684942141153280
1047.074219942093
702671118226825216
1047.3811748027802
702598099714314240
1047.7011737823486
702539513671897089
1048.0223541259766
702332542343577600
1048.2770321369171
702321140488925184
1048.6055240631104
702276748847800320
1048.9167640209198
702217446468493312
1049.2113680839539
701981390485725185
1049.5203449726105
701952816642965504
1049.8320488929749
701889187134500865
1050.1363668441772
701805642395348998
1050.420706987381
701601587219795968
1050.709687948227
701570477911896070
1051.0186069011688
701545186879471618
1051.3324179649353
701214700881756160
1051.6429829597473
700890391244103680
1051.9650452136993
700864154249383937
1052.241338968277
700847567345688576
1052.6781840324402
700796979434098688
1052.979866027832
700747788515020802
1053.3106441497803
700518061187723268
1053.600965976715
700505138482569216
1053.8856852054596
700462010979500032
1054.195284128189
700167517596164096
1054.492555141449
700151421916807169
1054.7832248210907
700143752053182464
1055.0691459178925
700062718104104960
1055.3661777973175
700029284593901568
1055.6715950965881
700002074055016451
1055.9729990959167
699801817392291840
1056.2686989307404
699788877217865730
1056.5529391765594
699779630832685056
1056.8712048530579
699775878809702401
1057.1544589996338
699691744225525762
1057.4424228668213
699446877801091073
1057.7028141021729
699434518667751424
1057.9500839710236
699423671849451520
1058.2790620326996
699413908797464576
1058.585655927658
699370870310113280
1058.8631570339203
699323444782047232
1059.186408996582
699088579889332224
1059.5181767940521
699079609774645248
1059.8183119297028
699072405256409088
1060.128366947174
699060279947165696
1060.4397180080414
699036661657767936
1060.744427204132
698989035503689728
1061.0454080104828
698953797952008193
1061.3665208816528
698907974262222848
1061.665992975235
698710712454139905
1061.9909641742706
698703483621523456
1062.2568678855896
698635131305795584
1062.5691139698029
698549713696649216
1062.86376619339
698355670425473025
1063.1781668663025
698342080612007937
1063.5113508701324
698262614669991936
1063.8210158348083
698195409219559425
1064.1488559246063
698178924120031232
1064.42134475708
697995514407682048
1064.7411670684814
697990423684476929
1065.0043890476227
697943111201378304
1065.34494805336
697881462549430272
1065.6402971744537
697630435728322560
1065.9711799621582
697616773278015490
1066.2189819812775
697596423848730625
1066.5128889083862
697575480820686848
1066.8188698291779
697516214579523584
1067.1270010471344
697482927769255936
1067.4579689502716
697463031882764288
1067.7426588535309
697270446429966336
1068.0683500766754
697259378236399616
1068.3710758686066
697255105972801536
1068.6580231189728
697242256848379904
1068.9692130088806
696900204696625153
1069.2514560222626
696894894812565505
1069.562987089157
696886256886657024
1069.8522038459778
696877980375769088
1070.10258102417
696754882863349760
1070.415316104889
696744641916489729
1070.719013929367
696713835009417216
1070.9897718429565
696518437233913856
1071.2641849517822
696490539101908992
1071.5603630542755
696488710901260288
1071.895674943924
696405997980676096
1072.189484834671
696100768806522880
1072.4761509895325
695816827381944320
1072.7940609455109
695794761660297217
1073.0717120170593
695767669421768709
1073.3960320949554
695629776980148225
1073.6088750362396
695446424020918272
1073.9147868156433
695409464418041856
1074.2654948234558
695314793360662529
1074.5430190563202
695095422348574720
1074.841547012329
695074328191332352
1075.144522190094
695064344191721472
1075.4390528202057
695051054296211456
1075.7488968372345
694925794720792577
1076.0594539642334
694905863685980160
1076.393424987793
694669722378485760
1076.6981410980225
694356675654983680
1077.0042159557343
694352839993344000
1077.2570719718933
694342028726001664
1077.5707869529724
694329668942569472
1077.889839887619
694206574471057408
1078.1885998249054
694183373896572928
1078.5053029060364
694001791655137281
1078.8129479885101
693993230313091072
1079.1316277980804
693942351086120961
1079.4375791549683
693647888581312512
1079.7559587955475
693644216740769793
1080.0669021606445
693642232151285760
1080.3604850769043
693629975228977152
1080.6483380794525
693622659251335168
1080.9746389389038
693590843962331137
1081.2933049201965
693582294167244802
1081.5678989887238
693486665285931008
1081.8693070411682
693280720173801472
1082.1713581085205
693267061318012928
1082.4765689373016
693262851218264065
1082.7561569213867
693231807727280129
1083.0724549293518
693155686491000832
1083.400020122528
693109034023534592
1083.6974699497223
693095443459342336
1083.999932050705
692919143163629568
1084.2885949611664
692905862751522816
1084.6261429786682
692901601640583168
1084.912201166153
692894228850999298
1085.2118391990662
692828166163931137
1085.532462835312
692752401762250755
1085.8140120506287
692568918515392513
1086.113508939743
692535307825213440
1086.4177269935608
692530551048294401
1086.7354199886322
692423280028966913
1087.0626120567322
692417313023332352
1087.375293970108
692187005137076224
1087.7024829387665
692158366030913536
1088.0049669742584
692142790915014657
1088.3262591362
692041934689402880
1088.6116261482239
692017291282812928
1088.9099128246307
691820333922455552
1089.187350988388
691793053716221953
1089.4763040542603
691756958957883396
1089.759106874466
691675652215414786
1090.054753780365
691483041324204033
1090.3328988552094
691459709405118465
1090.6585619449615
691444869282295808
1090.982321023941
691416866452082688
1091.2300219535828
691321916024623104
1091.5199298858643
691096613310316544
1091.8101398944855
691090071332753408
1092.0965058803558
690989312272396288
1092.4210379123688
690959652130045952
1092.7531080245972
690938899477221376
1093.0595679283142
690932576555528194
1093.3604009151459
690735892932222976
1093.6716361045837
690728923253055490
1093.983738899231
690690673629138944
1094.306254863739
690649993829576704
1094.5919981002808
690607260360429569
1094.892012834549
690597161306841088
1095.156669139862
690400367696297985
1095.4744369983673
690374419777196032
1095.7384700775146
690360449368465409
1096.0671150684357
690348396616552449
1096.3502399921417
690248561355657216
1096.6586298942566
690021994562220032
1096.991600036621
690015576308211712
1097.2658109664917
690005060500217858
1097.5584421157837
689999384604450816
1097.868057012558
689993469801164801
1098.148488998413
689977555533848577
1098.4627339839935
689905486972461056
1098.7476561069489
689877686181715968
1099.02472615242
689835978131935233
1099.3097620010376
689661964914655233
1099.6469531059265
689659372465688576
1099.9351570606232
689623661272240129
1100.2380838394165
689599056876867584
1100.5601198673248
689557536375177216
1100.8723731040955
689517482558820352
1101.1921029090881
689289219123089408
1101.5023429393768
689283819090870273
1101.8295729160309
689280876073582592
1102.1410310268402
689275259254616065
1102.4268140792847
689255633275777024
1102.7346289157867
689154315265683456
1103.058315038681
689143371370250240
1103.3589100837708
688916208532455424
1103.701900959015
688908934925697024
1104.0253767967224
688898160958271489
1104.308401107788
688894073864884227
1104.6268270015717
688828561667567616
1104.8975830078125
688804835492233216
1105.2012372016907
688789766343622656
1105.5160439014435
688547210804498433

1105.8393218517303
688519176466644993
1106.1583518981934
688385280030670848
1106.4497609138489
688211956440801280
1106.7769479751587
688179443353796608
1107.022922039032
688116655151435777
1107.3457140922546
688064179421470721
1107.642930984497
687841446767013888
1107.9483959674835
687826841265172480
1108.2312479019165
687818504314159109
1108.5247230529785
687807801670897665
1108.8040328025818
687732144991551489
1109.0887689590454
687704180304273409
1109.397047996521
687664829264453632
1109.7086369991302
687494652870668288
1110.0057559013367
687480748861947905
1110.3122780323029
687476254459715584
1110.6449251174927
687460506001633280
1110.9607350826263
687399393394311168
1111.2597260475159
687317306314240000
1111.6421768665314
687312378585812992
1111.902675151825
687127927494963200
1112.2210938930511
687124485711986689
1112.5203969478607
687109925361856513
1112.8062000274658
687102708889812993
1113.0726799964905
687096057537363968
1113.3885409832
686947101016735744
1113.652755022049
686760001961103360
1113.950875043869
686749460672679938
1114.2506132125854
686730991906516992
1114.5489740371704
686683045143953408
1114.8608679771423
686618349602762752
1115.1821768283844
686606069955735556
1115.490401983261
686394059078897668
1115.7461259365082
686386521809772549
1116.0464069843292
686377065986265092
1116.382010936737
686358356425093120
1116.6828141212463
686286779679375361
1117.0097088813782
686050296934563840
1117.3139848709106
686035780142297088
1117.611881017685
686034024800862208
1117.9453279972076
686007916130873345
1118.2605531215668
686003207160610816
1118.5459668636322
685973236358713344
1118.8319890499115
685943807276412928
1119.117695093155
685906723014619143
1119.4376649856567
685681090388975616
1119.7146039009094
685667379192414208
1120.0052449703217
685663452032069632
1120.2746441364288
685641971164143616
1120.5973558425903
685547936038666240
1120.880362033844
685532292383666176
1121.194165945053
685325112850124800
1121.518485069275
685321586178670592
1121.8142230510712
685315239903100929
1122.1259379386902
685307451701334016
1122.4168190956116
685268753634967552
1122.7291779518127
685198997565345792
1123.0152180194855
685169283572338688
1123.3264648914337
684969860808454144
1123.643273115158
684959798585110529
1123.9730389118195
684940049151070208
1124.3139219284058
684926975086034944
1124.595862865448
684914660081053696
1124.872577905655
684902183876321280
1125.175008058548
684880619965411328
1125.4944519996643
684830982659280897
1125.814355134964
684800227459624960
1126.1323988437653
684594889858887680
1126.4407289028168
684588130326986752
1126.7627139091492
684567543613382656
1127.0641450881958
684538444857667585
1127.4088110923767
684481074559381504
1127.6912190914154
684460069371654144
1127.9941120147705
684241637099323392
1128.2495000362396
684225744407494656
1128.5668051242828
684222868335505415
1128.8784379959106
684200372118904832
1129.142163991928
684195085588783105
1129.4256300926208
684188786104872960
1129.7067849636078
684177701129875456
1130.0146341323853
684147889187209216
1130.2969858646393
684122891630342144
1130.5807390213013
684097758874210310
1130.8652708530426
683857920510050305
1131.1848678588867
683852578183077888
1131.4772691726685
683849932751646720
1131.7856941223145
683834909291606017
1132.0460119247437
683828599284170753
1132.372488975525
683773439333797890
1132.6570568084717
683742671509258241
1132.955715894699
683515932363329536
1133.272203207016
683498322573824003
1133.5477888584137
683481228088049664
1134.0013930797577
683462770029932544
1134.2950880527496
683449695444799489
1134.5889179706573
683391852557561860
1134.913430929184
683357973142474752
1135.2025718688965
683142553609318400
1135.5423300266266
683111407806746624
1135.8242771625519
683098815881154561
1136.1275548934937
683078886620553216
1136.4053621292114
683030066213818368
1136.721745967865
682962037429899265
1137.0103330612183
682808988178739200
1137.3245499134064
682788441537560576
1137.6327919960022
682750546109968385
1137.9676880836487
682697186228989953
1138.2477729320526
682662431982772225
1138.5644969940186
682638830361513985
1138.8731911182404
682429480204398592
1139.198035955429
682406705142087680
1139.4950470924377
682393905736888321
1139.800490140915
682389078323662849
1140.3489060401917
682303737705140231
1140.6417398452759
682259524040966145
1140.9501249790192
682242692827447297
1141.225998878479
682088079302213632
1141.5210909843445
682059653698686977
1141.828794002533
682047327939461121
1142.1573390960693
682032003584274432
1142.4425780773163
682003177596559360
1142.7275669574738
681981167097122816
1143.0953459739685
681891461017812993
1143.447937965393
681694085539872773
1143.733479976654
681679526984871937
1144.0103890895844
681654059175129088
1144.2811789512634
681610798867845120
1144.568461894989
681579835668455424
1144.8615918159485
681523177663676416
1145.149241924286
681340665377193984
1145.448252916336
681339448655802368
1145.7316958904266
681320187870711809
1146.0606648921967
681302363064414209
1146.3694899082184
681297372102656000
1146.6631689071655
681281657291280384
1146.9392931461334
681261549936340994
1147.194216966629
681242418453299201
1147.4761700630188
681231109724700672
1147.7684309482574
681193455364796417
1148.0899968147278
680970795137544192
1148.386477947235
680959110691590145
1148.7903189659119
680940246314430465
1149.0936710834503
680934982542561280
1149.3715538978577
680913438424612864
1149.6404929161072
680889648562991104
1149.9211637973785
680836378243002368
1150.217425107956
680805554198020098
1150.5115730762482
680801747103793152
1150.7977800369263
680798457301471234
1151.0821390151978
680609293079592961
1151.3616349697113
680583894916304897
1151.6541879177094
680497766108381184
1151.92906498909
680494726643068929
1152.2403421401978
680473011644985345
1152.5506970882416
680440374763077632
1152.86719083786
680221482581123072
1153.191969871521
680206703334408192
1153.4707098007202
680191257256136705
1153.7818660736084
680176173301628928
1154.0893449783325
680161097740095489
1154.3495221138
680145970311643136
1154.6127829551697
680130881361686529
1154.947921037674
680115823365742593
1155.2512609958649
680100725817409536
1155.518888950348
680085611152338944
1155.851546049118
680070545539371008
1156.1613070964813
680055455951884288
tweet exception
1156.405520915985
679877062409191424
1156.713364124298
679872969355714560
1157.0406670570374
679862121895714818
1157.3498561382294
679854723806179328
1157.6607630252838
679844490799091713
1158.0017349720001
679828447187857408
1158.3167688846588
679777920601223168
1158.5919351577759
679736210798047232
1158.8911440372467
679729593985699840
1159.2094769477844
679722016581222400
1159.5207090377808
679530280114372609
1159.8270750045776
679527802031484928
1160.1383039951324
679511351870550016
1160.453570842743
679503373272485890
1160.7553288936615
679475951516934144
1161.0503199100494
679462823135686656
1161.2984228134155
679405845277462528
1161.5926721096039
679158373988876288
1161.8936920166016
679148763231985668
1162.223237991333
679132435750195208
1162.5265100002289
679111216690831360
1162.837877035141
679062614270468097
1163.1332230567932
679047485189439488
1163.4460299015045
679001094530465792
1163.6991550922394
678991772295516161
1163.9895498752594
678969228704284672
1164.2774229049683
678800283649069056
1164.5999510288239
678798276842360832
1164.8856210708618
678774928607469569
1165.2302050590515
678767140346941444
1165.5421221256256
678764513869611008
1165.8456559181213
678755239630127104
1166.181319952011
678740035362037760
1166.4855070114136
678708137298427904
1166.8075318336487
678675843183484930
1167.1361150741577
678643457146150913
1167.4143960475922
678446151570427904
1167.7217729091644
678424312106393600
1168.033627986908
678410210315247616
1168.2952530384064
678399652199309312
1168.5850629806519
678396796259975168
1168.8888988494873
678389028614488064
1169.1848039627075
678380236862578688
1169.4578881263733
678341075375947776
1169.7850131988525
678334497360859136
1170.0673849582672
678278586130948096
1170.388683795929
678255464182861824
1170.6610579490662
678023323247357953
1170.943454027176
678021115718029313
1171.1937329769135
677961670166224897

1171.4534230232239
677918531514703872
1171.7546010017395
677895101218201600
1172.0277981758118
677716515794329600
1172.3195941448212
677700003327029250
1172.6287581920624
677698403548192770
1172.9124219417572
677687604918272002
1173.2269370555878
677673981332312066
1173.5169608592987
677662372920729601
1173.875
677644091929329666
1174.181783914566
677573743309385728
1174.502431154251
677565715327688705
1174.832102060318
677557565589463040
1175.1368570327759
677547928504967168
1175.4873712062836
677530072887205888
1175.7707319259644
677335745548390400
1176.109200000763
677334615166730240
1176.3859639167786
677331501395156992
1176.6678538322449
677328882937298944
1177.0102071762085
677314812125323265
1177.285987854004
677301033169788928
1177.5905177593231
677269281705472000
1177.9055178165436
677228873407442944
1178.1960680484772
677187300187611136
1178.479169845581
676975532580409345

Rate limit reached. Sleeping for: 626

1809.8575599193573
676957860086095872
1810.1458070278168
676949632774234114
1810.429016828537
676948236477857792
1810.739953994751
676946864479084545
1811.0575618743896
676942428000112642
1811.3700051307678
676936541936185344
1811.6881530284882
676916996760600576
1811.9510869979858
676897532954456065
1812.2736220359802
676864501615042560
1812.5951659679413
676821958043033607
1812.9357080459595
676819651066732545
1813.2330529689789
676811746707918848
1813.5075538158417
676776431406465024
1813.815822839737
676617503762681856
1814.139014005661
676613908052996102
1814.4424159526825
676606785097199616
1814.7805750370026
676603393314578432
1815.1082980632782
676593408224403456
1815.4073779582977
676590572941893632
1815.7301859855652
676588346097852417
1816.0191440582275
676582956622721024
1816.3092079162598
676575501977128964
1816.609838962555
676533798876651520
1816.9382491111755
676496375194980353
1817.2105729579926
676470639084101634
1817.544489145279
676440007570247681
1817.85795211792
676430933382295552
1818.183161020279
676263575653122048
1818.5103080272675
676237365392908289
1818.7989659309387
676219687039057920
1819.0941751003265
676215927814406144
1819.4227559566498
676191832485810177
1819.7112379074097
676146341966438401
1819.9935541152954
676121918416756736
1820.283812046051
676101918813499392
1820.5636880397797
676098748976615425
1820.855712890625
676089483918516224
1821.1830899715424
675898130735476737
1821.4695479869843
675891555769696257
1821.7800951004028
675888385639251968
1822.0787830352783
675878199931371520
1822.3986101150513
675870721063669760
1822.720027923584
675853064436391936
1822.9867510795593
675849018447167488
1823.2816898822784
675845657354215424
1823.5553748607635
675822767435051008
1823.8609371185303
675820929667219457
1824.1664221286774
675798442703122432
1824.4746148586273
675781562965868544
1824.7914578914642
675740360753160193
1825.1042971611023
675710890956750848
1825.4325630664825
675707330206547968
1825.7508540153503
675706639471788032
1826.0552470684052
675534494439489536
1826.3777439594269
675531475945709568
1826.695340871811
675522403582218240
1827.014221906662
675517828909424640
1827.300220966339
675501075957489664
1827.6155951023102
675497103322386432
1827.9277558326721
675489971617296384
1828.2390689849854
675483430902214656
1828.5581550598145
675432746517426176
1828.8675758838654
675372240448454658
1829.2068700790405
675362609739206656
1829.4899370670319
675354435921575936
1829.7650048732758
675349384339542016
1830.024971961975
675334060156301312
1830.307100057602
675166823650848770
1830.5942249298096
675153376133427200
1831.808049917221
675149409102012420
1832.1080658435822
675147105808306176
1832.412761926651
675146535592706048
1832.7289118766785
675145476954566656
1833.0535471439362
675135153782571009
1833.3359019756317
675113801096802304
1833.6665408611298
675111688094527488
1833.9871871471405
675109292475830276
1834.2823379039764
675047298674663426
1834.5728600025177
675015141583413248
1834.8626351356506
675006312288268288
1835.1694419384003
675003128568291329
1835.4774391651154
674999807681908736
1835.8038930892944
674805413498527744
1836.1293630599976
674800520222154752
1836.4532549381256
674793399141146624
1836.7330479621887
674790488185167872
1837.0703959465027
674788554665512960
1837.370157957077
674781762103414784
1837.633271932602
674774481756377088
1837.8951451778412
674767892831932416
1838.2305929660797
674764817387900928
1838.5487101078033
674754018082705410
1838.8445188999176
674752233200820224
1839.1595709323883
674743008475090944
1839.4816210269928
674742531037511680
1839.763061761856
674739953134403584
1840.0160329341888
674737130913071104
1840.3095169067383
674690135443775488
1840.6176400184631
674670581682434048
1840.875637769699
674664755118911488
1841.1942989826202
674646392044941312
1841.4750599861145
674644256330530816
1841.758390903473
674638615994089473
1842.0359377861023
674632714662858753
1842.348179101944
674606911342424069
1842.6495339870453
674468880899788800
1842.9317100048065
674447403907457024
1843.193244934082
674436901579923456
1843.5070629119873
674422304705744896
1843.8329470157623
674416750885273600
1844.1337859630585
674410619106390016
1844.4678781032562
674394782723014656
1844.7434248924255
674372068062928900
1845.0352890491486
674330906434379776
1845.3364298343658
674318007229923329
1845.6523170471191
674307341513269249
1845.9585361480713
674291837063053312
1846.2841820716858
674271431610523648
1846.573900938034
674269164442398721
1846.887766122818
674265582246694913
1847.1538109779358
674262580978937856
1847.4308681488037
674255168825880576
1847.7212090492249
674082852460433408
1848.019693851471
674075285688614912
1848.315200805664
674063288070742018
1848.6266560554504
674053186244734976
1848.9149210453033
674051556661161984
1849.2268178462982
674045139690631169
1849.5136210918427
674042553264685056
1849.8434319496155
674038233588723717
1850.1494770050049
674036086168010753
1850.4479930400848
674024893172875264
1850.7325551509857
674019345211760640
1851.0155630111694
674014384960745472
1851.343729019165
674008982932058114
1851.646341085434
673956914389192708
1851.96346783638
673919437611909120
1852.2658059597015
673906403526995968
1852.5798749923706
673887867907739649
1852.8469321727753
673716320723169284
1853.1591551303864
673715861853720576
1853.4698750972748
673711475735838725
1853.9818451404572
673709992831262724
1854.2476308345795
673708611235921920
1854.5357768535614
673707060090052608
1854.8272531032562
673705679337693185
1855.13747215271
673700254269775872
1855.4587800502777
673697980713705472
1855.7511718273163
673689733134946305
1856.0896878242493
673688752737402881
1856.3931338787079
673686845050527744
1856.7024009227753
673680198160809984
1857.035885810852
673662677122719744
1857.3584899902344
673656262056419329
1857.6772167682648
673636718965334016
1857.9860210418701
673612854080196609
1858.2851998806
673583129559498752
1858.6124699115753
673580926094458881
1858.9681549072266
673576835670777856
1859.250256061554
673363615379013632
1859.5801858901978
673359818736984064
1859.891471862793
673355879178194945
1860.2160720825195
673352124999274496
1860.5084750652313
673350198937153538
1860.8073880672455
673345638550134785
1861.1111750602722
673343217010679808
1861.3875250816345
673342308415348736
1861.714528799057
673320132811366400
1862.0363941192627
673317986296586240
1862.331055879593
673295268553605120
1862.6198921203613
673270968295534593
1862.9110660552979
673240798075449344
1863.190612077713
673213039743795200
1863.4945249557495
673148804208660480
1863.815190076828
672997845381865473
1864.0733239650726
672995267319328768
1864.3876910209656
672988786805112832
1864.6691648960114
672984142909456390
1864.9923958778381
672980819271634944
1865.2846848964691
672975131468300288
1865.609270811081
672970152493887488
1865.8829998970032
672968025906282496
1866.2075490951538
672964561327235073
1866.513974905014
672902681409806336
1866.7866010665894
672898206762672129
1867.0808579921722
672884426393653248
1867.3591940402985
672877615439593473
1867.6773710250854
672834301050937345
1868.0236010551453
672828477930868736
1868.3586649894714
672640509974827008
1868.620267868042
672622327801233409
1868.865373134613
672614745925664768
1869.1890230178833
672609152938721280
1869.4768669605255
672604026190569472
1869.742389202118
672594978741354496
1870.0552458763123
672591762242805761
1870.3510930538177
672591271085670400
1870.6673710346222
672538107540070400
1870.989012002945
672523490734551040
1871.305510044098
672488522314567680
1871.5973000526428
672482722825261057
1871.9214758872986
672481316919734272
1872.1862568855286
672475084225949696
1872.4986379146576
672466075045466113
1872.8279840946198
672272411274932228
1873.1416289806366
672267570918129665
1873.4544808864594
672264251789176834
1873.7738840579987
672256522047614977
1874.0629441738129
672254177670729728
1874.3634450435638
672248013293752320
1874.686898946762
672245253877968896
1874.9607219696045
672239279297454080
1875.3350059986115
672231046314901505
1875.655417919159
672222792075620352
1875.9819631576538
672205392827572224
1876.301120042801
672169685991993344
1876.5913050174713
672160042234327040
1876.9126298427582
672139350159835138

1877.2282929420471
672125275208069120
1877.5313210487366
672095186491711488
1877.8182151317596
672082170312290304
1878.1243410110474
672068090318987265
1878.4427428245544
671896809300709376
1878.756488084793
671891728106971137
1879.0321381092072
671882082306625538
1879.3507778644562
671879137494245376
1879.6303651332855
671874878652489728
1879.9418940544128
671866342182637568
1880.2124819755554
671855973984772097
1880.543699979782
671789708968640512
1880.864017009735
671768281401958400
1881.1672809123993
671763349865160704
1881.4770247936249
671744970634719232
1881.80925989151
671743150407421952
1882.1337509155273
671735591348891648
1882.4394011497498
671729906628341761
1882.7430350780487
671561002136281088
1883.0117230415344
671550332464455680
1883.2953419685364
671547767500775424
1883.582927942276
671544874165002241
1883.8993701934814
671542985629241344
1884.1840431690216
671538301157904385
1884.491056919098
671536543010570240
1884.790412902832
671533943490011136
1885.0953829288483
671528761649688577
1885.363242149353
671520732782923777
1885.6471939086914
671518598289059840
1885.9621920585632
671511350426865664
1886.2815520763397
671504605491109889
1886.565572977066
671497587707535361
1886.8778488636017
671488513339211776
1887.192451953888
671486386088865792
1887.5076591968536
671485057807351808
1887.8182899951935
671390180817915904
1888.1042709350586
671362598324076544
1888.3825149536133
671357843010908160
1888.6758489608765
671355857343524864
1888.9603180885315
671347597085433856
1889.2340440750122
671186162933985280
1889.5717029571533
671182547775299584
1889.878566980362
671166507850801152
1890.1453762054443
671163268581498880
1890.4733169078827
671159727754231808
1890.8475170135498
671154572044468225
1891.1604399681091
671151324042559489
1891.4436361789703
671147085991960577
1891.737988948822
671141549288370177
1892.0399298667908
671138694582165504
1892.3577690124512
671134062904504320
1892.67103099823
671122204919246848
1892.9976480007172
671115716440031232
1893.3059260845184
671109016219725825
1893.6116440296173
670995969505435648
1893.9199368953705
670842764863651840
1894.2500250339508
670840546554966016
1894.5541400909424
670838202509447168
1894.8792350292206
670833812859932673
1895.132344007492
670832455012716544
1895.4061861038208
670826280409919488
1895.7280900478363
670823764196741120
1896.0372188091278
670822709593571328
1896.3143470287323
670815497391357952
1896.6329581737518
670811965569282048
1896.9238209724426
670807719151067136
1897.2110879421234
670804601705242624
1897.5453231334686
670803562457407488
1897.8551790714264
670797304698376195
1898.1649680137634
670792680469889025
1898.4809749126434
670789397210615808
1898.794312953949
670786190031921152
1899.1269149780273
670783437142401025
1899.391764163971
670782429121134593
1899.7024631500244
670780561024270336
1900.028039932251
670778058496974848
1900.3344988822937
670764103623966721
1900.6254291534424
670755717859713024
1900.9205191135406
670733412878163972
1901.240919828415
670727704916926465
1901.5625369548798
670717338665226240
1901.8623840808868
670704688707301377
1902.1655819416046
670691627984359425
1902.4460549354553
670679630144274432
1902.7488758563995
670676092097810432
1903.0658268928528
670668383499735048
1903.371721982956
670474236058800128
1903.6746859550476
670468609693655041
1903.9994881153107
670465786746662913
1904.2788019180298
670452855871037440
1904.6413898468018
670449342516494336
1904.92715883255
670444955656130560
1905.211345911026
670442337873600512
1905.529953956604
670435821946826752
1905.850193977356
670434127938719744
1906.1677720546722
670433248821026816
1906.4560470581055
670428280563085312
1906.7393810749054
670427002554466305
1907.053376197815
670421925039075328
1907.370136976242
670420569653809152
1907.701031923294
670417414769758208
1908.028419971466
670411370698022913
1908.3500530719757
670408998013820928
1908.6627600193024
670403879788544000
1908.9487881660461
670385711116361728
1909.2544701099396
670374371102445568
1909.5656270980835
670361874861563904
1909.8947610855103
670338931251150849
1910.195177078247
670319130621435904
1910.5031719207764
670303360680108032
1910.8329701423645
670290420111441920
1911.1356699466705
670093938074779648
1911.4522788524628
670086499208155136
1911.7430350780487
670079681849372674
1912.02738904953
670073503555706880
1912.342698097229
670069087419133954
1912.6621429920197
670061506722140161
1912.9581520557404
670055038660800512
1913.4182119369507
670046952931721218
1913.6953840255737
670040295598354432
1913.9811370372772
670037189829525505
1914.3192110061646
670003130994700288
1914.5746610164642
669993076832759809
1914.8915710449219
669972011175813120
1915.2171289920807
669970042633789440
1915.4921298027039
669942763794931712
1915.8177287578583
669926384437997569
1916.1191589832306
669923323644657664
1916.427932024002
669753178989142016
1916.7306070327759
669749430875258880
1917.0126659870148
669684865554620416
1917.4122109413147
669683899023405056
1917.6952140331268
669682095984410625
1918.0270280838013
669680153564442624
1918.3772130012512
669661792646373376
1918.693374156952
669625907762618368
1918.976814031601
669603084620980224
1919.2673089504242
669597912108789760
1919.568540096283
669583744538451968
1919.8563349246979
669573570759163904
1920.1754179000854
669571471778410496
1920.4867520332336
669567591774625800
1920.791512966156
669564461267722241
1921.113648891449
669393256313184256
1921.3929181098938
669375718304980992
1921.681902885437
669371483794317312
1922.0069410800934
669367896104181761
1922.3289580345154
669363888236994561
1922.7116439342499
669359674819481600
1922.992052078247
669354382627049472
1923.2812860012054
669353438988365824
1923.5497648715973
669351434509529089
1923.885922908783
669328503091937280
1924.2128689289093
669327207240699904
1924.5211999416351
669324657376567296
1924.7976438999176
669216679721873412
1925.1166911125183
669214165781868544
1925.400635957718
669203728096960512
1925.7159049510956
669037058363662336
1926.012864112854
669015743032369152
1926.31179189682
669006782128353280
1926.6090540885925
669000397445533696
1926.9035170078278
668994913074286592
1927.2018299102783
668992363537309700
1927.5084991455078
668989615043424256
1927.799772977829
668988183816871936
1928.1278500556946
668986018524233728
1928.4618949890137
668981893510119424
1928.7766749858856
668979806671884288
1929.1008689403534
668975677807423489
1929.4235849380493
668967877119254528
1929.711417913437
668960084974809088
1930.0307919979095
668955713004314625
1930.3253290653229
668932921458302977
1930.5837020874023
668902994700836864
1930.8996169567108
668892474547511297
1931.1875071525574
668872652652679168
1931.5231897830963
668852170888998912
1931.8039140701294
668826086256599040
1932.1446528434753
668815180734689280
1932.4282388687134
668779399630725120
1932.733500957489
668655139528511488
1933.0047659873962
668645506898350081
1933.3403279781342
668643542311546881
1933.6576170921326
668641109086707712
1933.996647119522
668636665813057536
1934.3054020404816
668633411083464705
1934.6344900131226
668631377374486528
1935.0433077812195
668627278264475648
1935.333174943924
668625577880875008
1935.6534581184387
668623201287675904
1935.9577550888062
668620235289837568
1936.2697758674622
668614819948453888
1936.5857901573181
668587383441514497
1936.8558628559113
668567822092664832
1937.1761889457703
668544745690562560
1937.4611990451813
668542336805281792
1937.8431918621063
668537837512433665
1938.1891748905182
668528771708952576
1938.524130821228
668507509523615744
1938.80677318573
668496999348633600
1939.1063890457153
668484198282485761
1939.3877699375153
668480044826800133
1939.7330899238586
668466899341221888
1940.0500719547272
668297328638447616
1940.3385770320892
668291999406125056
1940.6473360061646
668286279830867968
1940.8999688625336
668274247790391296
1941.226105928421
668268907921326080
1941.571704864502
668256321989451776
1941.8886799812317
668248472370458624
1942.2523548603058
668237644992782336
1942.852992773056
668226093875376128
1943.3607609272003
668221241640230912
1943.9898641109467
668204964695683073
1944.6736211776733
668190681446379520
1945.477772951126
668171859951755264
1945.786784172058
668154635664932864

1946.0699400901794
668142349051129856
1946.404000043869
668113020489474048
1946.7225461006165
667937095915278337
1947.0116670131683
667924896115245057
1947.2641899585724
667915453470232577
1947.569787979126
667911425562669056
1947.8654029369354
667902449697558528
1948.1717600822449
667886921285246976
1948.475093126297
667885044254572545
1948.7552018165588
667878741721415682
1949.0681970119476
667873844930215936
1949.3658549785614
667866724293877760
1949.6520750522614
667861340749471744
1949.9795291423798
667832474953625600
1950.2927269935608
667806454573760512
1950.5717070102692
667801013445750784
1950.903729915619
667793409583771648
1951.1909120082855
667782464991965184
1951.5149068832397
667773195014021121
1951.7956540584564
667766675769573376
1952.0588459968567
667728196545200128
1952.3946719169617
667724302356258817
1952.6828019618988
667550904950915073
1952.9712448120117
667550882905632768
1953.2601850032806
667549055577362432
1953.5729129314423
667546741521195010
1953.8856768608093
667544320556335104
1954.1531999111176
667538891197542400
1954.4600038528442
667534815156183040
1954.776843070984
667530908589760512
1955.08993601799
667524857454854144
1955.3939700126648
667517642048163840
1955.6834588050842
667509364010450944
1955.9664311408997
667502640335572993
1956.2605731487274
667495797102141441
1956.5714030265808
667491009379606528
1956.8667149543762
667470559035432960
1957.167456150055
667455448082227200
1957.473993062973
667453023279554560
1957.7791769504547
667443425659232256
1958.09264087677
667437278097252352
1958.4220659732819
667435689202614272
1958.7206728458405
667405339315146752
1958.9681079387665
667393430834667520
1959.2876069545746
667369227918143488
1959.5743770599365
667211855547486208
1959.8611979484558
667200525029539841
1960.1611988544464
667192066997374976
1960.432480096817
667188689915760640
1960.7120370864868
667182792070062081
1961.0167689323425
667177989038297088
1961.2971920967102
667176164155375616
1961.615872144699
667174963120574464
1961.9298498630524
667171260800061440
1962.2638528347015
667165590075940865
1962.7004981040955
667160273090932737
1962.9951870441437
667152164079423490
1963.309669971466
667138269671505920
1963.612506866455
667119796878725120
1963.9475181102753
667090893657276420
1964.266746044159
667073648344346624
1964.5405678749084
667070482143944705
1964.8189961910248
667065535570550784
1965.1087048053741
667062181243039745
1965.4600670337677
667044094246576128
1965.756155014038
667012601033924608
1966.0555400848389
666996132027977728
1966.33846783638
666983947667116034
1966.6082739830017
666837028449972224
1966.9228370189667
666835007768551424
1967.2220649719238
666826780179869698
1967.5551688671112
666817836334096384
1967.868912935257
666804364988780544
1968.1726758480072
666786068205871104
1968.45255112648
666781792255496192
1968.7450819015503
666776908487630848
1969.044086933136
666739327293083650
1969.342225074768
666701168228331520
1969.6188020706177
666691418707132416
1969.9184539318085
666649482315059201
1970.1941919326782
666644823164719104
1970.5043790340424
666454714377183233
1970.7959578037262
666447344410484738
1971.1340618133545
666437273139982337
1971.5869479179382
666435652385423360
1971.8920450210571
666430724426358785
1972.172698020935
666428276349472768
1972.4968841075897
666421158376562688
1972.8261120319366
666418789513326592
1973.1634299755096
666411507551481857
1973.4860560894012
666407126856765440
1973.7773940563202
666396247373291520
1974.0384390354156
666373753744588802
1974.3441700935364
666362758909284353
1974.6694810390472
666353288456101888
1974.9605448246002
666345417576210432
1975.291235923767
666337882303524864
1975.5685231685638
666293911632134144
1975.9089500904083
666287406224695296
1976.2291328907013
666273097616637952
1976.5085079669952
666268910803644416
1976.8357090950012
666104133288665088
1977.1474030017853
666102155909144576
1977.4685809612274
666099513787052032
1977.7240989208221
666094000022159362
1978.0205550193787
666082916733198337
1978.4790740013123
666073100786774016
1978.7779738903046
666071193221509120
1979.0807240009308
666063827256086533
1979.360622882843
666058600524156928
1979.6603951454163
666057090499244032
1979.9609088897705
666055525042405380
1980.2940051555634
666051853826850816
1980.5722720623016
666050758794694657
1980.8780398368835
666049248165822465
1981.165442943573
666044226329800704
1981.4601209163666
666033412701032449
1981.7813441753387
666029285002620928
1982.089220046997
666020888022790149
1982.3868708610535

In [110]:
exceptions

[888202515573088257,
 873697596434513921,
 872668790621863937,
 872261713294495745,
 869988702071779329,
 866816280283807744,
 861769973181624320,
 856602993587888130,
 851953902622658560,
 845459076796616705,
 844704788403113984,
 842892208864923648,
 837366284874571778,
 837012587749474308,
 829374341691346946,
 827228250799742977,
 812747805718642688,
 802247111496568832,
 779123168116150273,
 775096608509886464,
 771004394259247104,
 770743923962707968,
 759566828574212096,
 754011816964026368,
 680055455951884288]

In [185]:
df = pd.read_json('tweet_json.txt', lines=True)
df.sample(5)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,quoted_status
1143,2016-04-17 00:58:53+00:00,721503162398597120,721503162398597120,This is Panda. He's happy af. 11/10 https://t....,False,"[0, 35]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 721503152168681472, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
2006,2015-12-01 19:10:13+00:00,671768281401958400,671768281401958400,When you try to recreate the scene from Lady &...,False,"[0, 144]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 671768277677441024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
272,2017-03-07 01:17:48+00:00,838921590096166913,838921590096166912,This is Arlo. He's officially the king of snow...,False,"[0, 112]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 838921573767618560, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
2033,2015-11-30 15:18:34+00:00,671347597085433856,671347597085433856,This is Lola. She was not fully prepared for t...,False,"[0, 90]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 671347593046306816, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
638,2016-10-27 23:17:38+00:00,791780927877898241,791780927877898240,RT @dog_rates: This is Maddie. She gets some w...,False,"[0, 119]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,{'created_at': 'Sat Jun 25 17:31:25 +0000 2016...,NaN,NaN,NaN,NaN

In [186]:
tweet_details_df = df.copy()

In [187]:
tweet_details_df = tweet_details_df[['id', 'retweet_count', 'favorite_count']]

In [188]:
tweet_details_df

                      id  retweet_count  favorite_count
0     892420643555336193           7718           36250
1     892177421306343426           5704           31259
2     891815181378084864           3781           23535
3     891689557279858688           7870           39527
4     891327558926688256           8489           37744
...                  ...            ...             ...
2326  666049248165822465             39              96
2327  666044226329800704            132             272
2328  666033412701032449             41             112
2329  666029285002620928             42             121
2330  666020888022790149            462            2414

[2331 rows x 3 columns]

## Assessing data for the project

#### Data quality Dimensions
- Completeness
- Validity
- Accuracy
- Consistency

#### Tidiness: issues with structure that prevent easy analysis. Untidy data is also known as messy data. Tidy data requirements:

- Each variable forms a column.

- Each observation forms a row.

- Each type of observational unit forms a table.

<font color='green' size='4'>
twitter-archive-enhanced dataset

##### Quality issues

- There are about 2000 records that are not classified as either doggo, floofer, pupper, puppo. In other words the 4 columns are set as None for about 2000 records.
- There are 59 records without associated image.
- There are 181 retweets that from this dataset perspective would be considered duplicate records.
- About 800 records have an unaccurate name. 745 set up as None and 55 set up as 'a'.
- There is a record that has both doggo and floofer. It should only be floofer.
- Records with denominator different than 10
- Records with numerator far from the median.
- Numerator should be 11 instead of 27. Ideally it should be 11.27 but for this exercise I will leave it as 11 because most of the numbers are integers.¶

##### Tidiness

- The columns doggo, floofer, pupper and puppo should be one column because it is one variable.

#### Getting acquainted with the dataset

In [129]:
twitter_archive.shape

(2356, 17)

In [127]:
twitter_archive.sample()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1621,684926975086034944,NaN,NaN,2016-01-07 02:38:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Bruiser &amp; Charlie. They are the best ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684926975...,11,10,Bruiser,None,None,None,None

In [128]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [204]:
twitter_archive.in_reply_to_status_id.value_counts().count()

77

#### Quality Issue. There are 59 records without associated image.

In [208]:
twitter_archive.expanded_urls.isnull().sum()

59

In [209]:
twitter_archive[twitter_archive.expanded_urls.isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extreme caution,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is reserved for dogs,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@Jack_Septic_Eye I'd need a few more pics to polish a full analysis, but based on the good boy content above I'm leaning towards 12/10",NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
185,856330835276025856,NaN,NaN,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @Jenna_Marbles: @dog_rates Thanks for rating my cermets 14/10 wow I'm so proud I watered them so much,8.563302e+17,66699013.0,2017-04-24 02:13:14 +0000,NaN,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@xianmcguire @Jenna_Marbles Kardashians wouldn't be famous if as a society we didn't place enormous value on what they do. The dogs are very deserving of their 14/10,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@dhmontgomery We also gave snoop dogg a 420/10 but I think that predated your research,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@s8n You tried very hard to portray this good boy as not so good, but you have ultimately failed. His goodness shines through. 666/10",NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIENCED MANY THINGS. PROBABLY LOST OTHER EAR DOING SOMETHING HEROIC. 13/10 HUG THE DOG HOPPUS,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Jerry just apuppologized to me. He said there was no ill-intent to the slippage. I overreacted I admit. Pupgraded to an 11/10 would pet,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",.@breaannanicolee PUPDATE: Cannon has a heart on his nose. Pupgraded to a 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@0_kelvin_0 &gt;10/10 is reserved for puppos sorry Kevin,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@bragg6of8 @Andy_Pace_ we are still looking for the first 15/10,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
346,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
375,828361771580813312,NaN,NaN,2017-02-05 21:56:51 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",Beebop and Doobert should start a band 12/10 would listen,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
387,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I was going to do 007/10, but the joke wasn't worth the &lt;10 rating",NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
409,823333489516937216,8.233264e+17,1.582854e+09,2017-01-23 00:56:15 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@HistoryInPics 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
427,821153421864615936,8.211526e+17,1.132119e+08,2017-01-17 00:33:26 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@imgur for a polar bear tho I'd say 13/10 is appropriate,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
498,813130366689148928,8.131273e+17,4.196984e+09,2016-12-25 21:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",I've been informed by multiple sources that this is actually a dog elf who's tired from helping Santa all night. Pupgraded to 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
513,811647686436880384,8.116272e+17,4.196984e+09,2016-12-21 19:01:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",PUPDATE: I've been informed that Augie was actually bringing his family these flowers when he tripped. Very good boy. Pupgraded to 11/10,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
570,801854953262350336,8.018543e+17,1.185634e+07,2016-11-24 18:28:13 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE TO SAY 11/10 NBC,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
576,800859414831898624,8.008580e+17,2.918590e+08,2016-11-22 00:32:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@SkyWilliams doggo simply protecting you from evil that which you cannot see. 11/10 would give extra pets,NaN,NaN,NaN,NaN,11,10,None,doggo,None,None,None
611,797165961484890113,7.971238e+17,2.916630e+07,2016-11-11 19:55:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@JODYHiGHROLLER it may be an 11/10 but what do I know 😉,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
701,786051337297522688,7.727430e+17,7.305050e+17,2016-10-12 03:50:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",13/10 for breakdancing puppo @shibbnbot,NaN,NaN,NaN,NaN,13,10,None,None,None,None,puppo
707,785515384317313025,NaN,NaN,2016-10-10 16:20:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Today, 10/10, should be National Dog Rates Day",NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
843,766714921925144576,7.667118e+17,4.196984e+09,2016-08-19 19:14:16 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",His name is Charley and he already has a new set of wheels thanks to donations. I heard his top speed was also increased. 13/10 for Charley,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
857,763956972077010945,7.638652e+17,1.584641e+07,2016-08-12 04:35:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@TheEllenShow I'm not sure if you know this but that doggo right there is a 12/10,NaN,NaN,NaN,NaN,12,10,None,doggo,None,None,None
967,750381685133418496,7.501805e+17,4.717297e+09,2016-07-05 17:31:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",13/10 such a good doggo\n@spaghemily,NaN,NaN,NaN,NaN,13,10,None,doggo,None,None,None
1005,747651430853525504,7.476487e+17,4.196984e+09,2016-06-28 04:42:46 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Other pupper asked not to have his identity shared. Probably just embarrassed about the headbutt. Also 12/10 it'll be ok mystery pup,NaN,NaN,NaN,NaN,12,10,None,None,None,pupper,None
1080,738891149612572673,7.384119e+17,3.589728e+08,2016-06-04 00:32:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@mount_alex3 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1295,707983188426153984,7.079801e+17,2.319108e+09,2016-03-10 17:35:20 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@serial @MrRoles OH MY GOD I listened to all of season 1 during a single road trip. I love you guys! I can confirm Bernie's 12/10 rating :),NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1345,704491224099647488,7.044857e+17,2.878549e+07,2016-03-01 02:19:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",13/10 hero af\n@ABC,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1445,696518437233913856,NaN,NaN,2016-02-08 02:18:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Oh my god 10/10 for every little hot dog pupper,NaN,NaN,NaN,NaN,10,10,None,None,None,pupper,None
1446,696490539101908992,6.964887e+17,4.196984e+09,2016-02-08 00:27:39 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After reading the comments I may have overestimated this pup. Downgraded to a 1/10. Please forgive me,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
1474,693644216740769793,6.936422e+17,4.196984e+09,2016-01-31 03:57:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",BREAKING PUPDATE: I've just been notified that (if in U.S.) this dog appears to be operating the vehicle. Upgraded to 10/10. Skilled af,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
1479,693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Personally I'd give him an 11/10. Not sure why you think you're qualified to rate such a stellar pup.\n@CommonWhiteGirI,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",PUPDATE: just noticed this dog has some extra legs. Very advanced. Revolutionary af. Upgraded to a 9/10,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1523,690607260360429569,6.903413e+17,4.670367e+08,2016-01-22 18:49:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",12/10 @LightningHoltt,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Jack deserves another round of applause. If you missed this earlier today I strongly suggest reading it. Wonderful first 14/10 🐶❤️,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","For those who claim this is a goat, u are wrong. It is not the Greatest Of All Time. The rating of 5/10 should have made that clear. Thank u",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",I've been told there's a slight possibility he's checking his mirror. We'll bump to 9.5/10. Still a menace,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After getting lost in Reese's eyes for several minutes we're going to upgrade him to a 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After some outrage from the crowd. Bubbles is being upgraded to a 7/10. That's as high as I'm going. Thank you,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This dog is being demoted to a 9/10 for not wearing a helmet while riding. Gotta stay safe out there. Thank you,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Some clarification is required. The dog is singing Cher and that is more than worthy of an 11/10. Thank you,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",The 13/10 also takes into account this impeccable yard. Louis is great but the future dad in me can't ignore that luscious green grass,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",The millennials have spoken and we've decided to immediately demote to a 1/10. Thank you,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After 22 minutes of careful deliberation this dog is being demoted to a 1/10. The longer you look at him the more terrifying he becomes,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After countless hours of research and hundreds of formula alterations we have concluded that Dug should be bumped to an 11/10,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After much debate this dog is being upgraded to 10/10. I repeat 10/10,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

#### Quality Issue. There are 181 retweets that from this dataset perspective would be considered duplicate records.

In [206]:
twitter_archive.query('retweeted_status_id != "NaN"').tweet_id.count()

181

In [201]:
twitter_archive.query('retweeted_status_id != "NaN"')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,"https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,http...",13,10,Canela,None,None,None,None
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @Athletics: 12/10 #BATP https://t.co/WxwJmvjfxo,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,"https://twitter.com/dog_rates/status/886053434075471873,https://twitter.com/dog_rates/status/886053434075471873",12,10,None,None,None,None,None
36,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Lilly. She just parallel barked. Kindly requests a reward now. 13/10 would pet so well https://t.co/SATN4If5H5,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,"https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1,http...",13,10,Lilly,None,None,None,None
68,879130579576475649,NaN,NaN,2017-06-26 00:13:58 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Emmy. She was adopted today. Massive round of pupplause for Emmy and her new family. 14/10 for all involved https://…,8.780576e+17,4.196984e+09,2017-06-23 01:10:23 +0000,"https://twitter.com/dog_rates/status/878057613040115712/photo/1,https://twitter.com/dog_rates/status/878057613040115712/photo/1",14,10,Emmy,None,None,None,None
73,878404777348136964,NaN,NaN,2017-06-24 00:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: Meet Shadow. In an attempt to reach maximum zooming borkdrive, he tore his ACL. Still 13/10 tho. Help him out below\n\nhttps:/…",8.782815e+17,4.196984e+09,2017-06-23 16:00:04 +0000,"https://www.gofundme.com/3yd6y1c,https://twitter.com/dog_rates/status/878281511006478336/photo/1",13,10,Shadow,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,746521445350707200,NaN,NaN,2016-06-25 01:52:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Shaggy. He knows exactly how to solve the puzzle but can't talk. All he wants to do is help. 10/10 great guy https:/…,6.678667e+17,4.196984e+09,2015-11-21 00:46:50 +0000,https://twitter.com/dog_rates/status/667866724293877760/photo/1,10,10,Shaggy,None,None,None,None
1043,743835915802583040,NaN,NaN,2016-06-17 16:01:16 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Extremely intelligent dog here. Has learned to walk like human. Even has his own dog. Very impressive 10/10 https://t.co/0Dv…,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/667138269671505920/photo/1,10,10,None,None,None,None,None
1242,711998809858043904,NaN,NaN,2016-03-21 19:31:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @twitter: @dog_rates Awesome Tweet! 12/10. Would Retweet. #LoveTwitter https://t.co/j6FQGhxYuN,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,"https://twitter.com/twitter/status/711998279773347841/photo/1,https://twitter.com/twitter/status/711998279773347841/photo/1",12,10,None,None,None,None,None
2259,667550904950915073,NaN,NaN,2015-11-20 03:51:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>","RT @dogratingrating: Exceptional talent. Original humor. Cutting edge, Nova Scotian comedian. 12/10 https://t.co/uarnTjBeVA",6.675487e+17,4.296832e+09,2015-11-20 03:43:06 +0000,"https://twitter.com/dogratingrating/status/667548695664070656/photo/1,https://twitter.com/dogratingrating/status/667548695664070656/photo/1",12,10,None,None,None,None,None
2260,667550882905632768,NaN,NaN,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",RT @dogratingrating: Unoriginal idea. Blatant plagiarism. Curious grammar. -5/10 https://t.co/r7XzeQZWzb,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,"https://twitter.com/dogratingrating/status/667548415174144001/photo/1,https://twitter.com/dogratingrating/status/667548415174144001/photo/1",5,10,None,None,None,None,None

#### Quality Issue. There are almost 2000 records out of 2356 that do not have a dog stage.

In [133]:
twitter_archive.query('doggo == "None" and floofer == "None" and pupper == "None" and puppo == "None"').tweet_id.count()

1976

#### Quality Issue. This should only be floof, not doggo.
Complete tweet: At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs

In [136]:
twitter_archive.query('floofer == "floofer" and doggo == "doggo"')[['text']]

                                                  text
200  At first I thought this was a shy doggo, but i...

#### Quality Issue. Records with denominator different than 10

In [139]:
twitter_archive.query('rating_denominator != 10').tweet_id.count()

23

##### Quality Issue. One by one analyze records with denominator different than 10

In [199]:
twitter_archive.query('rating_denominator != 10')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1",84,70,None,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24,7,Sam,None,None,None,None
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,http...",9,11,None,None,None,None,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244762497024/video/1,165,150,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,http...",9,11,None,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023742988288/photo/1,204,170,this,None,None,None,None
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582966214656/photo/1,4,20,None,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118184652801/photo/1,50,50,Bluebert,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603437621249/photo/1,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690886586372/photo/1,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395643068416/photo/1,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845121142784/photo/1,60,50,a,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031882764288/photo/1,44,40,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/684225744407494656/photo/1,https://twitter.com/dog_rates/status/684225744407494656/photo/1",143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868335505415/photo/1,121,110,None,None,None,None,None
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037429899265/photo/1,7,11,Darrel,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515794329600/photo/1,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/675853064436391936/photo/1,https://twitter.com/dog_rates/status/675853064436391936/photo/1",88,80,None,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406224695296/photo/1,1,2,an,None,None,None,None

#### Quality Issue. Records with numerator away from the median.

Picked the 15 kind of randomly as a number

In [141]:
twitter_archive.rating_numerator.describe()

count    2356.000000
mean       13.126486
std        45.876648
min         0.000000
25%        10.000000
50%        11.000000
75%        12.000000
max      1776.000000
Name: rating_numerator, dtype: float64

In [148]:
twitter_archive.query('rating_numerator > 15').tweet_id.count()

26

#### Quality Issue. Name accuracy. There are about 800 names that are clearly not well defined: None or a.

In [149]:
twitter_archive.name.value_counts()

None       745
a           55
Charlie     12
Oliver      11
Cooper      11
          ...
Jameson      1
Huck         1
Willem       1
Emmie        1
Tedders      1
Name: name, Length: 957, dtype: int64

In [198]:
twitter_archive.query('name in ["None", "a"]')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950875897856/photo/1,13,10,None,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/890729181411237888/photo/1,https://twitter.com/dog_rates/status/890729181411237888/photo/1",13,10,None,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10 https://t.co/BxvuXk0UCm,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388333682689/photo/1,13,10,None,None,None,None,puppo
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo) https://t.co/WZqNqygEyV,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217045368832/video/1,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof https://t.co/4Ad1jzJSdp,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392804085760/photo/1,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

#### Tidiness issue. The columns doggo, floofer, pupper and puppo should be one column insted of four because it is one variable.

In [152]:
(twitter_archive[['doggo', 'floofer', 'pupper', 'puppo']]
 .query('doggo != "None" or floofer != "None" or pupper != "None" or puppo != "None"'))

      doggo floofer  pupper  puppo
9     doggo    None    None   None
12     None    None    None  puppo
14     None    None    None  puppo
29     None    None  pupper   None
43    doggo    None    None   None
...     ...     ...     ...    ...
1995   None    None  pupper   None
2002   None    None  pupper   None
2009   None    None  pupper   None
2015   None    None  pupper   None
2017   None    None  pupper   None

[380 rows x 4 columns]

In [191]:
(twitter_archive
 .query('(doggo != "None" or floofer != "None" or pupper != "None" or puppo != "None") and rating_denominator != 10'))

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

 #### Quality Issue. Numerator should be 11 instead of 27. Ideally it should be 11.27 but for this exercie will leave it as 11 because most of the numbers are integers.

In [197]:
(twitter_archive
 .query('(doggo != "None" or floofer != "None" or pupper != "None" or puppo != "None") and rating_numerator >= 15'))

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
763,778027034220126208,NaN,NaN,2016-09-20 00:24:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778027034220126208/photo/1,27,10,Sophie,None,None,pupper,None

In [196]:
pd.options.display.max_colwidth = 200

<font color='green' size='4'>
image_predictions dataset

#### Data quality Dimensions
- Completeness
- Validity
- Accuracy
- Consistency

#### Tidiness: issues with structure that prevent easy analysis. Untidy data is also known as messy data. Tidy data requirements:

- Each variable forms a column.

- Each observation forms a row.

- Each type of observational unit forms a table.

##### Quality issues

- Pass

##### Tidiness

- The predictions should be on its own table and each prediction should be on its own row.

In [175]:
image_predictions.sample()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
982,707387676719185920,https://pbs.twimg.com/media/CdElVm7XEAADP6o.jpg,1,Chihuahua,0.888468,True,Italian_greyhound,0.088635,True,toy_terrier,0.015938,True

In [168]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [166]:
image_predictions.img_num.value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [156]:
image_predictions.p1.value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
revolver                1
water_buffalo           1
walking_stick           1
nail                    1
trombone                1
Name: p1, Length: 378, dtype: int64

In [160]:
image_predictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [161]:
image_predictions.p1_dog.value_counts()

True     1532
False     543
Name: p1_dog, dtype: int64

In [163]:
image_predictions.tweet_id.duplicated().sum()

0

<font color='green' size='4'>
tweet_details_df dataset

#### Data quality Dimensions
- Completeness
- Validity
- Accuracy
- Consistency

#### Tidiness: issues with structure that prevent easy analysis. Untidy data is also known as messy data. Tidy data requirements:

- Each variable forms a column.

- Each observation forms a row.

- Each type of observational unit forms a table.

In [169]:
tweet_details_df.sample()

                     id  retweet_count  favorite_count
441  818145370475810820           2618           12488

In [170]:
tweet_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2331 non-null   int64
 1   retweet_count   2331 non-null   int64
 2   favorite_count  2331 non-null   int64
dtypes: int64(3)
memory usage: 54.8 KB

In [172]:
tweet_details_df.describe()

                 id  retweet_count  favorite_count
count  2.331000e+03    2331.000000     2331.000000
mean   7.419079e+17    2707.513085     7569.226083
std    6.823170e+16    4578.311885    11747.116239
min    6.660209e+17       1.000000        0.000000
25%    6.782670e+17     548.000000     1319.500000
50%    7.182469e+17    1269.000000     3293.000000
75%    7.986692e+17    3146.000000     9264.500000
max    8.924206e+17   77917.000000   156349.000000

In [174]:
tweet_details_df.id.duplicated().sum()

0

## Cleaning

<font color='green' size='4'>
twitter-archive-enhanced dataset

##### Quality issues

- (Not selected to be fixed during this exercise). There are about 2000 records that are not classified as either doggo, floofer, pupper, puppo. In other words the 4 columns are set as None for about 2000 records.
- Remove the 59 records without associated image.
- Remove the 181 retweets that from this dataset perspective would be considered duplicate records.
- Set to None the records that start with a lowercase letter. That way the records with unknown name will all be set up to None.
- Change to floofer the record that has both fluffer and doggo.
- Records with denominator different than 10.
- Records with numerator far from the median.
- Numerator should be 11 instead of 27. Ideally it should be 11.27 but for this exercise I will leave it as 11 because most of the numbers are integers.¶

##### Tidiness

- The columns doggo, floofer, pupper and puppo should be one column because it is one variable.

#### Getting acquainted with the dataset

In [129]:
twitter_archive.shape

(2356, 17)

In [210]:
twitter_archive.sample()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1805,676942428000112642,NaN,NaN,2015-12-16 01:50:26 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Who leaves the last cupcake just sitting there? 9/10 https://t.co/PWMqAoEx2a,NaN,NaN,NaN,https://twitter.com/dog_rates/status/676942428000112642/photo/1,9,10,None,None,None,None,None

In [211]:
twitter_archive_cp = twitter_archive.copy()

Define

#### 1. Remove the 59 records without associated image.

In [214]:
twitter_archive_cp.expanded_urls.isnull().sum()

59

Code

In [215]:
twitter_archive_cp = twitter_archive_cp[~twitter_archive_cp.expanded_urls.isnull()]

Test. There are no records with expanded_urls as null.

In [216]:
twitter_archive_cp.expanded_urls.isnull().sum()

0

Define

#### 2. Remove the 181 retweets that from this dataset perspective would be considered duplicate records. Note: One of the records was removed as part of the previous task.

In [219]:
twitter_archive_cp.retweeted_status_id.isna().sum()

2117

Code

In [220]:
twitter_archive_cp = twitter_archive_cp[twitter_archive_cp.retweeted_status_id.isna()]

Test. No more records with retweet status exist in the dataset.

In [222]:
twitter_archive_cp.retweeted_status_id.notna().sum()

0

Define

#### 9. Replace all the names which start with a lowercase letter to 'None'

In [ ]:
twitter_archive_cp[twitter_archive_cp.name.str.contains('^[a-z]')]

Code

In [267]:
twitter_archive_cp.name = twitter_archive_cp.name.str.replace(r'(^[a-z][\w]+)', 'None')

Test. There are no records which start with a lowercase letter

In [269]:
twitter_archive_cp[twitter_archive_cp.name.str.contains('^[a-z]')]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

Define

#### 4. Change to only doggo the record that has both fluffer and doggo. The word floofer was used to mention an owl.

In [232]:
twitter_archive_cp.query('floofer == "floofer" and doggo == "doggo"')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/854010172552949760/photo/1,https://twitter.com/dog_rates/status/854010172552949760/photo/1",11,10,None,doggo,floofer,None,None

Code

In [233]:
twitter_archive_cp.loc[200, 'floofer'] = 'None'

Test

In [234]:
twitter_archive_cp.query('floofer == "floofer" and doggo == "doggo"')

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

Define

#### 5. Remove records which description does not include a rating. Once the results were analyzed, that would be records 516 and 1662.

In [237]:
twitter_archive_cp.query('rating_denominator != 10')[['text', 'rating_numerator', 'rating_denominator']]

,text,rating_numerator,rating_denominator
433,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84,70
516,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,24,7
902,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165,150
1068,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",9,11
1120,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204,170
1165,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,4,20
1202,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,50,50
1228,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99,90
1254,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80,80
1274,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45,50
1351,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60,50
1433,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44,40
1634,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",143,130
1635,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121,110
1662,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,7,11
1779,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144,120
1843,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88,80
2335,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,1,2

Code

In [239]:
drop_list = [516, 1662]

In [241]:
twitter_archive_cp.drop(drop_list, inplace=True)

Test. The records 516 and 1662 no longer exist.

In [250]:
twitter_archive_cp.query('rating_denominator != 10')[['tweet_id','text', 'rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
433,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84,70
902,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165,150
1068,740373189193256964,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",9,11
1120,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204,170
1165,722974582966214656,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,4,20
1202,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,50,50
1228,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99,90
1254,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80,80
1274,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45,50
1351,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60,50
1433,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44,40
1634,684225744407494656,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",143,130
1635,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121,110
1779,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144,120
1843,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88,80
2335,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,1,2

Define

#### 6. Correct tweet_id record 740373189193256964. The numerator and denominator should be 14/10.

Code

In [252]:
mask = twitter_archive_cp.tweet_id == 740373189193256964
twitter_archive_cp.loc[mask, 'rating_numerator'] = 14
twitter_archive_cp.loc[mask, 'rating_denominator'] = 10

Test

In [253]:
twitter_archive_cp[twitter_archive_cp['tweet_id'] == 740373189193256964]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,http...",14,10,None,None,None,None,None

#### 7. Correct tweet_id 722974582966214656. The numerator and denominator should be 13/10.

In [254]:
twitter_archive_cp[twitter_archive_cp['tweet_id'] == 722974582966214656]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582966214656/photo/1,4,20,None,None,None,None,None

Code

In [255]:
mask = twitter_archive_cp.tweet_id == 722974582966214656
twitter_archive_cp.loc[mask, 'rating_numerator'] = 13
twitter_archive_cp.loc[mask, 'rating_denominator'] = 10

Test

In [256]:
twitter_archive_cp[twitter_archive_cp['tweet_id'] == 722974582966214656]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582966214656/photo/1,13,10,None,None,None,None,None

#### 8. Correct tweet_id 666287406224695296. The numerator and denominator should be 9/10.

Code

In [257]:
mask = twitter_archive_cp.tweet_id == 666287406224695296
twitter_archive_cp.loc[mask, 'rating_numerator'] = 9
twitter_archive_cp.loc[mask, 'rating_denominator'] = 10

Test

In [258]:
twitter_archive_cp[twitter_archive_cp['tweet_id'] == 666287406224695296]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406224695296/photo/1,9,10,an,None,None,None,None

#### 9. Replace all the names which start with a lowercase letter to 'None'

In [ ]:
twitter_archive_cp[twitter_archive_cp.name.str.contains('^[a-z]')]

Code

In [267]:
twitter_archive_cp.name = twitter_archive_cp.name.str.replace(r'(^[a-z][\w]+)', 'None')

Test. There are no records which start with a lowercase letter

In [269]:
twitter_archive_cp[twitter_archive_cp.name.str.contains('^[a-z]')]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

#### 9. Numerator should be 11 instead of 27. Ideally it should be 11.27 but for this exercise I will leave it as 11 because most of the numbers are integers.

In [270]:
twitter_archive_cp.query('rating_numerator == 27')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
763,778027034220126208,NaN,NaN,2016-09-20 00:24:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778027034220126208/photo/1,27,10,Sophie,None,None,pupper,None

Code

In [271]:
mask = twitter_archive_cp.tweet_id == 778027034220126208
twitter_archive_cp.loc[mask, 'rating_numerator'] = 11

Test

In [272]:
twitter_archive_cp.loc[mask]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
763,778027034220126208,NaN,NaN,2016-09-20 00:24:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778027034220126208/photo/1,11,10,Sophie,None,None,pupper,None